<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>190108_outside_object_t_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,702},{74,88}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,99},{74,88}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190108_outside_object_t_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,656},{74,88}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,99},{74,88}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190108_outside_object_t_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,630},{74,88}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,99},{74,88}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190108_outside_object_t_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,626},{74,88}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,99},{74,88}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190108_outside_object_t_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,554},{74,88}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,99},{74,88}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190108_outside_object_t_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,478},{74,88}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,99},{74,88}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190108_outside_object_t_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,946},{74,88}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,99},{74,88}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190108_outside_object_t_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{74,88}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,99},{74,88}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190109_outside_object_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,586},{68,96}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,91},{68,96}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190109_outside_object_b_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,794},{136,222}}</string>
                <key>offset</key>
                <string>{21,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,11},{136,222}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190109_outside_object_b_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,570},{136,222}}</string>
                <key>offset</key>
                <string>{21,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,11},{136,222}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190109_outside_object_b_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,798},{136,222}}</string>
                <key>offset</key>
                <string>{21,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,11},{136,222}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190109_outside_object_sub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,752},{68,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{68,83}}</string>
                <key>sourceSize</key>
                <string>{74,89}</string>
            </dict>
            <key>190109_outside_object_t_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,338},{30,46}}</string>
                <key>offset</key>
                <string>{-30,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{30,46}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190109_outside_object_t_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,290},{30,46}}</string>
                <key>offset</key>
                <string>{-30,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{30,46}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190109_outside_object_t_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,290},{30,46}}</string>
                <key>offset</key>
                <string>{-30,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{30,46}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190109_outside_object_t_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,290},{30,46}}</string>
                <key>offset</key>
                <string>{-30,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{30,46}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190109_outside_object_t_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,890},{30,46}}</string>
                <key>offset</key>
                <string>{-30,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{30,46}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190109_outside_object_t_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,842},{30,46}}</string>
                <key>offset</key>
                <string>{-30,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{30,46}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190110_outside_object_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,478},{106,110}}</string>
                <key>offset</key>
                <string>{19,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,79},{106,110}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190110_outside_object_b_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,342},{136,226}}</string>
                <key>offset</key>
                <string>{22,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,8},{136,226}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190110_outside_object_b_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,570},{136,226}}</string>
                <key>offset</key>
                <string>{22,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,8},{136,226}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190110_outside_object_b_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,342},{136,226}}</string>
                <key>offset</key>
                <string>{22,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,8},{136,226}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190110_outside_object_sub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,794},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{74,61}}</string>
                <key>sourceSize</key>
                <string>{80,67}</string>
            </dict>
            <key>190110_outside_object_t_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,798},{32,42}}</string>
                <key>offset</key>
                <string>{-26,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,165},{32,42}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190110_outside_object_t_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,276},{32,42}}</string>
                <key>offset</key>
                <string>{-26,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,165},{32,42}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190110_outside_object_t_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,232},{32,42}}</string>
                <key>offset</key>
                <string>{-26,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,165},{32,42}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190110_outside_object_t_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,188},{32,42}}</string>
                <key>offset</key>
                <string>{-26,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,165},{32,42}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190110_outside_object_t_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,144},{32,42}}</string>
                <key>offset</key>
                <string>{-26,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,165},{32,42}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190110_outside_object_t_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,100},{32,42}}</string>
                <key>offset</key>
                <string>{-26,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,165},{32,42}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190151_outside_object_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,756},{36,130}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,35},{36,130}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190151_outside_object_b_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{142,234}}</string>
                <key>offset</key>
                <string>{26,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,8},{142,234}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190151_outside_object_b_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{142,234}}</string>
                <key>offset</key>
                <string>{26,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,8},{142,234}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190151_outside_object_b_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{142,234}}</string>
                <key>offset</key>
                <string>{26,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,8},{142,234}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190151_outside_object_sub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,562},{62,100}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,35},{62,100}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>190152_outside_object_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{34,96}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,68},{34,96}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190152_outside_object_b_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{142,234}}</string>
                <key>offset</key>
                <string>{26,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,8},{142,234}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190152_outside_object_b_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{142,234}}</string>
                <key>offset</key>
                <string>{26,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,8},{142,234}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190152_outside_object_b_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,234}}</string>
                <key>offset</key>
                <string>{26,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,8},{142,234}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190153_outside_object_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,430},{40,130}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,62},{40,130}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190153_outside_object_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,290},{138,202}}</string>
                <key>offset</key>
                <string>{21,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,31},{138,202}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190153_outside_object_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,290},{138,202}}</string>
                <key>offset</key>
                <string>{21,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,31},{138,202}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190153_outside_object_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{138,202}}</string>
                <key>offset</key>
                <string>{21,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,31},{138,202}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190153_outside_object_sub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,857},{54,68}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,60},{54,68}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>190154_outside_object_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,146},{142,228}}</string>
                <key>offset</key>
                <string>{26,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,8},{142,228}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190154_outside_object_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,146},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190154_outside_object_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,618},{108,136}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,64},{108,136}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190154_outside_object_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,386},{28,38}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,140},{28,38}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190154_outside_object_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,430},{40,42}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,107},{40,42}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190154_outside_object_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,430},{40,42}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,107},{40,42}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190154_outside_object_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,430},{40,42}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,107},{40,42}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190154_outside_object_sub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,927},{64,58}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,46},{64,58}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>190155_outside_object_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,146},{142,228}}</string>
                <key>offset</key>
                <string>{26,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,8},{142,228}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190156_outside_object_000_dum.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{142,228}}</string>
                <key>offset</key>
                <string>{26,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,8},{142,228}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190157_outside_object_000_dum.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,146},{142,228}}</string>
                <key>offset</key>
                <string>{26,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,8},{142,228}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190158_outside_object_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,290},{48,78}}</string>
                <key>offset</key>
                <string>{-17,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,88},{48,78}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190158_outside_object_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,342},{134,140}}</string>
                <key>offset</key>
                <string>{25,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190158_outside_object_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,430},{132,130}}</string>
                <key>offset</key>
                <string>{25,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,109},{132,130}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190158_outside_object_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,478},{132,138}}</string>
                <key>offset</key>
                <string>{25,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,101},{132,138}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190158_outside_object_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,478},{132,130}}</string>
                <key>offset</key>
                <string>{25,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,109},{132,130}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190158_outside_object_sub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,857},{52,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,44},{52,62}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>190159_outside_object_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,290},{48,78}}</string>
                <key>offset</key>
                <string>{-17,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,88},{48,78}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190159_outside_object_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,206},{134,140}}</string>
                <key>offset</key>
                <string>{25,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190159_outside_object_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,618},{132,130}}</string>
                <key>offset</key>
                <string>{25,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,109},{132,130}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>deco_outside_object_2.png</string>
            <key>size</key>
            <string>{1024,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02ca633aa40eb8a70a8630dcaf387cd9$</string>
            <key>textureFileName</key>
            <string>deco_outside_object_2.png</string>
        </dict>
    </dict>
</plist>
