<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>190111_outside_object_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{42,102}}</string>
                <key>offset</key>
                <string>{-20,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,60},{42,102}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190111_outside_object_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,394},{148,238}}</string>
                <key>offset</key>
                <string>{20,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,4},{148,238}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190111_outside_object_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,82},{108,58}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,66},{108,58}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190111_outside_object_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,160},{128,82}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,58},{128,82}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190111_outside_object_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,170},{96,96}}</string>
                <key>offset</key>
                <string>{-3,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,14},{96,96}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190111_outside_object_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{108,110}}</string>
                <key>offset</key>
                <string>{-4,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,7},{108,110}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190111_outside_object_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190111_outside_object_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{48,22}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,134},{48,22}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190111_outside_object_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{48,22}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,134},{48,22}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190111_outside_object_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,100},{120,68}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,135},{120,68}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190111_outside_object_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{28,38}}</string>
                <key>offset</key>
                <string>{35,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,154},{28,38}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190111_outside_object_sub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,46},{68,52}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,80},{68,52}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>190112_outside_object_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,2},{16,146}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,37},{16,146}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190112_outside_object_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,442},{156,240}}</string>
                <key>offset</key>
                <string>{20,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,4},{156,240}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190112_outside_object_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,34},{56,50}}</string>
                <key>offset</key>
                <string>{11,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,12},{56,50}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190112_outside_object_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,34},{56,50}}</string>
                <key>offset</key>
                <string>{11,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,12},{56,50}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190112_outside_object_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190112_outside_object_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{114,70}}</string>
                <key>offset</key>
                <string>{23,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,122},{114,70}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190112_outside_object_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{28,38}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,134},{28,38}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190112_outside_object_sub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,46},{68,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,76},{68,52}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>190113_outside_object_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,46},{48,148}}</string>
                <key>offset</key>
                <string>{-19,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,50},{48,148}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190113_outside_object_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,544},{162,240}}</string>
                <key>offset</key>
                <string>{14,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,1},{162,240}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190113_outside_object_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,100},{102,68}}</string>
                <key>offset</key>
                <string>{-3,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,44},{102,68}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190113_outside_object_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,156},{114,80}}</string>
                <key>offset</key>
                <string>{-2,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,43},{114,80}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190113_outside_object_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190113_outside_object_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{48,36}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,125},{48,36}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190113_outside_object_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,129},{40,30}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190113_outside_object_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,94},{126,60}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,131},{126,60}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190113_outside_object_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{28,38}}</string>
                <key>offset</key>
                <string>{63,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,153},{28,38}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190113_outside_object_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{30,46}}</string>
                <key>offset</key>
                <string>{-39,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,74},{30,46}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190113_outside_object_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,50},{54,52}}</string>
                <key>offset</key>
                <string>{-39,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,68},{54,52}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190113_outside_object_sub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{58,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,81},{58,46}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>190114_outside_object_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{42,154}}</string>
                <key>offset</key>
                <string>{-20,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,47},{42,154}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190114_outside_object_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{158,236}}</string>
                <key>offset</key>
                <string>{14,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,6},{158,236}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190114_outside_object_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,142},{98,76}}</string>
                <key>offset</key>
                <string>{-7,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,35},{98,76}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190114_outside_object_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,170},{110,90}}</string>
                <key>offset</key>
                <string>{-6,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{110,90}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190114_outside_object_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,70},{54,54}}</string>
                <key>offset</key>
                <string>{18,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,7},{54,54}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190114_outside_object_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,40},{52,50}}</string>
                <key>offset</key>
                <string>{19,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,9},{52,50}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190114_outside_object_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{30,46}}</string>
                <key>offset</key>
                <string>{-46,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,75},{30,46}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190114_outside_object_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{52,58}}</string>
                <key>offset</key>
                <string>{-46,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,71},{52,58}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190114_outside_object_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190114_outside_object_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,148},{112,76}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,135},{112,76}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190114_outside_object_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{28,38}}</string>
                <key>offset</key>
                <string>{13,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,165},{28,38}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190114_outside_object_sub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{66,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,85},{66,38}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>190115_outside_object_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,32},{48,134}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,67},{48,134}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190115_outside_object_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,376},{144,210}}</string>
                <key>offset</key>
                <string>{18,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,21},{144,210}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190115_outside_object_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,26},{48,56}}</string>
                <key>offset</key>
                <string>{-16,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,29},{48,56}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190115_outside_object_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,96},{62,72}}</string>
                <key>offset</key>
                <string>{-16,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,21},{62,72}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190115_outside_object_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190115_outside_object_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,188},{106,118}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,82},{106,118}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190115_outside_object_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{28,38}}</string>
                <key>offset</key>
                <string>{30,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,159},{28,38}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190115_outside_object_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{24,32}}</string>
                <key>offset</key>
                <string>{44,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,106},{24,32}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190115_outside_object_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,42},{50,52}}</string>
                <key>offset</key>
                <string>{44,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,100},{50,52}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190115_outside_object_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{24,32}}</string>
                <key>offset</key>
                <string>{-31,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,69},{24,32}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190115_outside_object_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,28},{48,62}}</string>
                <key>offset</key>
                <string>{-31,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,53},{48,62}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190115_outside_object_sub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,86},{60,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,72},{60,60}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>190159_outside_object_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,226},{132,138}}</string>
                <key>offset</key>
                <string>{25,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,101},{132,138}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190159_outside_object_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,220},{132,130}}</string>
                <key>offset</key>
                <string>{25,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,109},{132,130}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190160_outside_object_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,262},{130,188}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,53},{130,188}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190160_outside_object_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{144,220}}</string>
                <key>offset</key>
                <string>{21,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,19},{144,220}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190160_outside_object_b_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{202,330}</string>
            </dict>
            <key>190160_outside_object_b_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,138},{82,76}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,124},{82,76}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190160_outside_object_b_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,20},{54,48}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,131},{54,48}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190160_outside_object_b_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{46,66}}</string>
                <key>offset</key>
                <string>{67,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,10},{46,66}}</string>
                <key>sourceSize</key>
                <string>{202,330}</string>
            </dict>
            <key>190160_outside_object_b_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,76},{56,68}}</string>
                <key>offset</key>
                <string>{70,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,8},{56,68}}</string>
                <key>sourceSize</key>
                <string>{202,330}</string>
            </dict>
            <key>190160_outside_object_b_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,86},{60,74}}</string>
                <key>offset</key>
                <string>{70,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,2},{60,74}}</string>
                <key>sourceSize</key>
                <string>{202,330}</string>
            </dict>
            <key>190160_outside_object_sub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,78},{80,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,70},{80,58}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>190161_outside_object_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,244},{130,188}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,53},{130,188}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190161_outside_object_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,296},{144,220}}</string>
                <key>offset</key>
                <string>{21,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,19},{144,220}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190161_outside_object_b_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{202,330}</string>
            </dict>
            <key>190161_outside_object_b_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,104},{82,76}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,124},{82,76}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
            <key>190161_outside_object_b_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,26},{54,48}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,131},{54,48}}</string>
                <key>sourceSize</key>
                <string>{202,292}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>deco_outside_object_7.png</string>
            <key>size</key>
            <string>{1024,708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:674442a03c4f48642dcf1cec90ef22ae$</string>
            <key>textureFileName</key>
            <string>deco_outside_object_7.png</string>
        </dict>
    </dict>
</plist>
