<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>69873_deco_goods_stand_snack_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,72},{58,62}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,103},{58,62}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69873_deco_goods_stand_snack_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{54,58}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,101},{54,58}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69873_deco_goods_stand_snack_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,206},{54,60}}</string>
                <key>offset</key>
                <string>{5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,99},{54,60}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69874_deco_goods_stand_snack_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,142},{58,62}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,103},{58,62}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69874_deco_goods_stand_snack_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,66},{54,58}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,101},{54,58}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69874_deco_goods_stand_snack_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{52,58}}</string>
                <key>offset</key>
                <string>{5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,100},{52,58}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69875_deco_goods_stand_ramen_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{68,66}}</string>
                <key>offset</key>
                <string>{10,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,105},{68,66}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69875_deco_goods_stand_ramen_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,408},{72,68}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,96},{72,68}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69876_deco_goods_stand_ramen_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,74},{68,66}}</string>
                <key>offset</key>
                <string>{10,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,105},{68,66}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69876_deco_goods_stand_ramen_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{70,68}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,96},{70,68}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69877_deco_goods_stand_tissue_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,72},{62,68}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,97},{62,68}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69877_deco_goods_stand_tissue_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{62,56}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,107},{62,56}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69877_deco_goods_stand_tissue_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,282},{60,66}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,96},{60,66}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69878_deco_goods_stand_tissue_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,212},{62,68}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,97},{62,68}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69878_deco_goods_stand_tissue_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,350},{62,56}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,107},{62,56}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69878_deco_goods_stand_tissue_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,144},{60,66}}</string>
                <key>offset</key>
                <string>{4,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,95},{60,66}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69879_deco_goods_stand_ice_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,280},{54,62}}</string>
                <key>offset</key>
                <string>{16,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,108},{54,62}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69879_deco_goods_stand_ice_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,350},{54,56}}</string>
                <key>offset</key>
                <string>{13,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,102},{54,56}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69879_deco_goods_stand_ice_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,212},{52,66}}</string>
                <key>offset</key>
                <string>{13,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,89},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69880_deco_goods_stand_ice_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,408},{54,62}}</string>
                <key>offset</key>
                <string>{16,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,108},{54,62}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69880_deco_goods_stand_ice_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,136},{54,58}}</string>
                <key>offset</key>
                <string>{13,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,100},{54,58}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69880_deco_goods_stand_ice_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,282},{52,66}}</string>
                <key>offset</key>
                <string>{13,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,89},{52,66}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69881_deco_goods_stand_drink_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{72,108}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,62},{72,108}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69881_deco_goods_stand_drink_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,434},{72,92}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,74},{72,92}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69881_deco_goods_stand_drink_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{68,38}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,95},{68,38}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69881_deco_goods_stand_drink_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{70,104}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,59},{70,104}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69882_deco_goods_stand_drink_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,108}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,62},{72,108}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69882_deco_goods_stand_drink_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{72,92}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,74},{72,92}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69882_deco_goods_stand_drink_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,74},{70,38}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,95},{70,38}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69882_deco_goods_stand_drink_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{70,106}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,58},{70,106}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69883_deco_goods_stand_fresh_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,310},{64,96}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,74},{64,96}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69883_deco_goods_stand_fresh_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{66,104}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,58},{66,104}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69883_deco_goods_stand_fresh_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,146},{64,36}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,83},{64,36}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69883_deco_goods_stand_fresh_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,108},{66,102}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,58},{66,102}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69884_deco_goods_stand_fresh_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,212},{64,96}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,74},{64,96}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69884_deco_goods_stand_fresh_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,328},{66,104}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,58},{66,104}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69884_deco_goods_stand_fresh_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,146},{64,36}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,83},{64,36}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69884_deco_goods_stand_fresh_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,222},{66,104}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,57},{66,104}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>deco_idle_Venezia.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:423309d739b264fa2180003dc324ed3a$</string>
            <key>textureFileName</key>
            <string>deco_idle_Venezia.png</string>
        </dict>
    </dict>
</plist>
