<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>201000_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{58,146}}</string>
                <key>offset</key>
                <string>{-16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{58,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201001_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,579},{60,148}}</string>
                <key>offset</key>
                <string>{-15,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{60,148}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201002_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,875},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201003_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,2},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201004_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201005_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201006_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,727},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201007_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,150},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201008_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,570},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201009_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,508},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201010_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,446},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201011_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,298},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201012_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,64},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201013_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,150},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201014_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,2},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201015_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,150},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201016_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,298},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201017_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,150},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201018_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,274},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201019_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,250},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201020_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,188},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201021_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,570},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201022_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,250},{60,144}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,87},{60,144}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201023_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,126},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201024_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,126},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201025_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,508},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201026_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,446},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201027_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,866},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201028_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,298},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201029_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,718},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201030_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,64},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201031_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,64},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201032_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,298},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201033_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,150},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201034_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,579},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201035_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,579},{60,146}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{60,146}}</string>
                <key>sourceSize</key>
                <string>{90,232}</string>
            </dict>
            <key>201036_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,193}}</string>
                <key>sourceSize</key>
                <string>{148,193}</string>
            </dict>
            <key>201037_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,388},{148,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,189}}</string>
                <key>sourceSize</key>
                <string>{148,189}</string>
            </dict>
            <key>201038_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{148,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,190}}</string>
                <key>sourceSize</key>
                <string>{148,190}</string>
            </dict>
            <key>201039_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,583},{148,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,190}}</string>
                <key>sourceSize</key>
                <string>{148,190}</string>
            </dict>
            <key>201040_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,778},{148,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,190}}</string>
                <key>sourceSize</key>
                <string>{148,190}</string>
            </dict>
            <key>201041_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,391},{148,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,190}}</string>
                <key>sourceSize</key>
                <string>{148,190}</string>
            </dict>
            <key>201042_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{148,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,190}}</string>
                <key>sourceSize</key>
                <string>{148,190}</string>
            </dict>
            <key>201043_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,196},{148,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,190}}</string>
                <key>sourceSize</key>
                <string>{148,190}</string>
            </dict>
            <key>201044_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,775},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>201045_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,194},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>201046_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{150,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,192}}</string>
                <key>sourceSize</key>
                <string>{150,192}</string>
            </dict>
            <key>201047_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{150,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,191}}</string>
                <key>sourceSize</key>
                <string>{150,191}</string>
            </dict>
            <key>201048_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{149,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,192}}</string>
                <key>sourceSize</key>
                <string>{149,192}</string>
            </dict>
            <key>201049_deco_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{149,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,192}}</string>
                <key>sourceSize</key>
                <string>{149,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>deco_wall_new.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c19d507a188ee7bbac37c3d043ab1c8b$</string>
            <key>textureFileName</key>
            <string>deco_wall_new.png</string>
        </dict>
    </dict>
</plist>
