<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>69885_deco_goods_stand_snack_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,246},{70,70}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,97},{70,70}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69885_deco_goods_stand_snack_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,320},{70,70}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,96},{70,70}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69886_deco_goods_stand_snack_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,246},{70,70}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,97},{70,70}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69886_deco_goods_stand_snack_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,318},{70,70}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,96},{70,70}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69887_deco_goods_stand_ramen_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,390},{62,40}}</string>
                <key>offset</key>
                <string>{4,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,126},{62,40}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69887_deco_goods_stand_ramen_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,446},{64,58}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,108},{64,58}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69887_deco_goods_stand_ramen_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,390},{62,40}}</string>
                <key>offset</key>
                <string>{5,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,119},{62,40}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69887_deco_goods_stand_ramen_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,446},{64,58}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,101},{64,58}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69888_deco_goods_stand_ramen_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,44},{62,40}}</string>
                <key>offset</key>
                <string>{4,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,126},{62,40}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69888_deco_goods_stand_ramen_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,446},{64,58}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,108},{64,58}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69888_deco_goods_stand_ramen_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{62,40}}</string>
                <key>offset</key>
                <string>{5,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,119},{62,40}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69888_deco_goods_stand_ramen_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,446},{64,58}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,101},{64,58}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69889_deco_goods_stand_tissue_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,182},{72,62}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,106},{72,62}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69889_deco_goods_stand_tissue_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,318},{70,62}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,103},{70,62}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69890_deco_goods_stand_tissue_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,246},{72,62}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,106},{72,62}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69890_deco_goods_stand_tissue_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,432},{70,62}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,103},{70,62}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69891_deco_goods_stand_ice_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,392},{66,52}}</string>
                <key>offset</key>
                <string>{5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,116},{66,52}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69891_deco_goods_stand_ice_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,72},{68,60}}</string>
                <key>offset</key>
                <string>{5,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,108},{68,60}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69891_deco_goods_stand_ice_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,178},{66,52}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,110},{66,52}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69891_deco_goods_stand_ice_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{68,60}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,102},{68,60}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69892_deco_goods_stand_ice_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,178},{66,52}}</string>
                <key>offset</key>
                <string>{5,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,116},{66,52}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69892_deco_goods_stand_ice_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,160},{68,60}}</string>
                <key>offset</key>
                <string>{5,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,108},{68,60}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69892_deco_goods_stand_ice_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,392},{66,52}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,110},{66,52}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69892_deco_goods_stand_ice_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,90},{68,60}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,102},{68,60}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69893_deco_goods_stand_drink_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,100}}</string>
                <key>offset</key>
                <string>{5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,69},{70,100}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69893_deco_goods_stand_drink_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{68,88}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,75},{68,88}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69893_deco_goods_stand_drink_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{66,38}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,89},{66,38}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69893_deco_goods_stand_drink_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,346},{70,98}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,63},{70,98}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69894_deco_goods_stand_drink_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,104},{70,100}}</string>
                <key>offset</key>
                <string>{5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,69},{70,100}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69894_deco_goods_stand_drink_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,92},{68,88}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,75},{68,88}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69894_deco_goods_stand_drink_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{66,38}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,89},{66,38}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69894_deco_goods_stand_drink_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,246},{70,98}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,64},{70,98}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69895_deco_goods_stand_fresh_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,120}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,48},{70,120}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69895_deco_goods_stand_fresh_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,90},{70,86}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,47},{70,86}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69895_deco_goods_stand_fresh_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,432},{70,38}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,72},{70,38}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69895_deco_goods_stand_fresh_f_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{72,118}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,45},{72,118}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69896_deco_goods_stand_fresh_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{70,120}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,48},{70,120}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69896_deco_goods_stand_fresh_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{72,86}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,47},{72,86}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69896_deco_goods_stand_fresh_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,206},{70,38}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,72},{70,38}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69896_deco_goods_stand_fresh_f_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{72,118}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,45},{72,118}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>deco_idle_China.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:541bb53755a3d24a72b624efc2776caa$</string>
            <key>textureFileName</key>
            <string>deco_idle_China.png</string>
        </dict>
    </dict>
</plist>
