<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>31000_deco_walldeco_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{118,138}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,27},{118,138}}</string>
                <key>sourceSize</key>
                <string>{202,182}</string>
            </dict>
            <key>31000_deco_walldeco_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{118,138}}</string>
                <key>offset</key>
                <string>{-21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,6},{118,138}}</string>
                <key>sourceSize</key>
                <string>{202,182}</string>
            </dict>
            <key>31000_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,138}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,6},{118,138}}</string>
                <key>sourceSize</key>
                <string>{202,182}</string>
            </dict>
            <key>31001_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,506},{30,54}}</string>
                <key>offset</key>
                <string>{-11,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,36},{30,54}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31001_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,452},{32,54}}</string>
                <key>offset</key>
                <string>{8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,36},{32,54}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31002_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,292},{64,66}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,39},{64,66}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31002_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{64,66}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,39},{64,66}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31003_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,412},{62,52}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,101},{62,52}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31003_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,292},{62,54}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,100},{62,54}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31004_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,172},{98,70}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{98,70}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31004_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{98,70}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,41},{98,70}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31005_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{56,46}}</string>
                <key>offset</key>
                <string>{17,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,39},{56,46}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31005_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,416},{58,48}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{58,48}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31006_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,508},{48,38}}</string>
                <key>offset</key>
                <string>{18,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,51},{48,38}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31006_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,548},{46,40}}</string>
                <key>offset</key>
                <string>{5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{46,40}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31007_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,388},{26,60}}</string>
                <key>offset</key>
                <string>{-12,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{26,60}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31007_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,388},{26,60}}</string>
                <key>offset</key>
                <string>{8,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,36},{26,60}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31008_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,320},{40,82}}</string>
                <key>offset</key>
                <string>{-16,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,31},{40,82}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31008_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,278},{40,82}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,31},{40,82}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31009_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,428},{40,44}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,51},{40,44}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31009_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,418},{40,44}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,51},{40,44}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31010_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,122},{50,100}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,57},{50,100}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31010_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,122},{50,100}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,57},{50,100}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31011_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,174},{86,50}}</string>
                <key>offset</key>
                <string>{-50,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,44},{86,50}}</string>
                <key>sourceSize</key>
                <string>{202,182}</string>
            </dict>
            <key>31011_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,226},{84,58}}</string>
                <key>offset</key>
                <string>{38,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,43},{84,58}}</string>
                <key>sourceSize</key>
                <string>{202,182}</string>
            </dict>
            <key>31012_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,508},{34,46}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,39},{34,46}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31012_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,556},{36,46}}</string>
                <key>offset</key>
                <string>{7,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,39},{36,46}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31013_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,452},{34,56}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{34,56}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31013_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{36,56}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,36},{36,56}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31014_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,416},{40,56}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,42},{40,56}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31014_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,358},{40,58}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{40,58}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31015_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,404},{46,56}}</string>
                <key>offset</key>
                <string>{-6,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,35},{46,56}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31015_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,226},{44,56}}</string>
                <key>offset</key>
                <string>{7,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{44,56}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31016_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,246},{58,72}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,29},{58,72}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31016_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,358},{56,56}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,34},{56,56}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31017_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,618},{24,46}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,41},{24,46}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31017_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,546},{24,48}}</string>
                <key>offset</key>
                <string>{7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,39},{24,48}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31018_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,396},{54,62}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,38},{54,62}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31018_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,348},{54,62}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,38},{54,62}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31019_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,356},{54,64}}</string>
                <key>offset</key>
                <string>{-9,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,33},{54,64}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31019_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,340},{54,64}}</string>
                <key>offset</key>
                <string>{6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,33},{54,64}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31020_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,506},{38,54}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,38},{38,54}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31020_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,466},{38,54}}</string>
                <key>offset</key>
                <string>{4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,37},{38,54}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31021_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,636},{42,30}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,50},{42,30}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31021_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,604},{42,30}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,49},{42,30}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31022_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,488},{48,50}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,38},{48,50}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31022_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,488},{48,50}}</string>
                <key>offset</key>
                <string>{6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,40},{48,50}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31023_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,584},{40,46}}</string>
                <key>offset</key>
                <string>{-6,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,40},{40,46}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31023_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,572},{40,46}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,46},{40,46}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31024_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,122},{48,106}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,33},{48,106}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31024_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{48,106}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,33},{48,106}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31025_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{38,58}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,36},{38,58}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31025_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,466},{38,58}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,40},{38,58}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31026_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,538},{24,34}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,51},{24,34}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31026_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,538},{24,34}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,52},{24,34}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31027_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,362},{24,70}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,42},{24,70}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31027_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,286},{24,70}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,43},{24,70}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31028_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,106},{102,86}}</string>
                <key>offset</key>
                <string>{-44,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{102,86}}</string>
                <key>sourceSize</key>
                <string>{202,182}</string>
            </dict>
            <key>31028_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{102,86}}</string>
                <key>offset</key>
                <string>{31,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,24},{102,86}}</string>
                <key>sourceSize</key>
                <string>{202,182}</string>
            </dict>
            <key>31029_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,452},{50,54}}</string>
                <key>offset</key>
                <string>{-6,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,36},{50,54}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31029_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{52,54}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,35},{52,54}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31030_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,536},{46,52}}</string>
                <key>offset</key>
                <string>{-10,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,32},{46,52}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31030_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,488},{46,52}}</string>
                <key>offset</key>
                <string>{9,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,32},{46,52}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31031_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,602},{46,32}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,49},{46,32}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31031_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,584},{46,32}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,49},{46,32}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31032_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,570},{30,52}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,41},{30,52}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31032_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,538},{30,52}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,42},{30,52}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31033_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,664},{26,42}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,45},{26,42}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31033_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,636},{26,42}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,45},{26,42}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31034_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,304},{16,72}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,41},{16,72}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31034_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,286},{16,72}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,41},{16,72}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31035_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,498},{46,42}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,43},{46,42}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31035_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,244},{46,42}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,43},{46,42}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31036_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,504},{46,48}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,40},{46,48}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31036_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,546},{36,42}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,46},{36,42}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31037_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,382},{44,44}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,39},{44,44}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31037_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,336},{44,44}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,41},{44,44}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31038_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,470},{26,44}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,42},{26,44}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31038_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,460},{26,44}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,43},{26,44}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31039_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,174},{42,50}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,41},{42,50}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31039_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,284},{44,50}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,40},{44,50}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31040_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,538},{38,32}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,46},{38,32}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31040_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{38,32}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,46},{38,32}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31041_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,322},{32,66}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,33},{32,66}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31041_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,306},{32,66}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,33},{32,66}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31042_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,244},{46,76}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{46,76}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31042_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{46,76}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,34},{46,76}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31043_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,174},{70,86}}</string>
                <key>offset</key>
                <string>{-54,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{70,86}}</string>
                <key>sourceSize</key>
                <string>{202,182}</string>
            </dict>
            <key>31043_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,210},{66,84}}</string>
                <key>offset</key>
                <string>{38,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,24},{66,84}}</string>
                <key>sourceSize</key>
                <string>{202,182}</string>
            </dict>
            <key>31044_deco_walldeco_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,458},{28,56}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,40},{28,56}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>31044_deco_walldeco_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,450},{28,56}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{28,56}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>deco_walldeco_new.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e7dd99709d5c8bd14edb524a71c282a$</string>
            <key>textureFileName</key>
            <string>deco_walldeco_new.png</string>
        </dict>
    </dict>
</plist>
