<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>170002_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,201},{134,70}}</string>
                <key>offset</key>
                <string>{-22,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,200},{134,70}}</string>
                <key>sourceSize</key>
                <string>{200,320}</string>
            </dict>
            <key>170003_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{134,70}}</string>
                <key>offset</key>
                <string>{-22,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,200},{134,70}}</string>
                <key>sourceSize</key>
                <string>{200,320}</string>
            </dict>
            <key>170004_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,129},{134,70}}</string>
                <key>offset</key>
                <string>{-22,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,200},{134,70}}</string>
                <key>sourceSize</key>
                <string>{200,320}</string>
            </dict>
            <key>170005_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,105},{134,70}}</string>
                <key>offset</key>
                <string>{-25,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,201},{134,70}}</string>
                <key>sourceSize</key>
                <string>{200,320}</string>
            </dict>
            <key>170007_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,273},{132,70}}</string>
                <key>offset</key>
                <string>{-23,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,111},{132,70}}</string>
                <key>sourceSize</key>
                <string>{200,230}</string>
            </dict>
            <key>170007_deco_mat_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,418},{156,92}}</string>
                <key>offset</key>
                <string>{-11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,111},{156,92}}</string>
                <key>sourceSize</key>
                <string>{200,230}</string>
            </dict>
            <key>170007_deco_mat_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,177},{115,83}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{115,83}}</string>
                <key>sourceSize</key>
                <string>{171,83}</string>
            </dict>
            <key>170007_deco_mat_f_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,129},{114,83}}</string>
                <key>offset</key>
                <string>{12,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,119},{114,83}}</string>
                <key>sourceSize</key>
                <string>{198,227}</string>
            </dict>
            <key>170008_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,273},{132,70}}</string>
                <key>offset</key>
                <string>{-23,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,111},{132,70}}</string>
                <key>sourceSize</key>
                <string>{200,230}</string>
            </dict>
            <key>170009_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{132,70}}</string>
                <key>offset</key>
                <string>{-23,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,111},{132,70}}</string>
                <key>sourceSize</key>
                <string>{200,230}</string>
            </dict>
            <key>170013_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,345},{132,71}}</string>
                <key>offset</key>
                <string>{-22,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,154},{132,71}}</string>
                <key>sourceSize</key>
                <string>{200,275}</string>
            </dict>
            <key>170014_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,345},{132,71}}</string>
                <key>offset</key>
                <string>{-22,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,155},{132,71}}</string>
                <key>sourceSize</key>
                <string>{200,275}</string>
            </dict>
            <key>170015_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{132,71}}</string>
                <key>offset</key>
                <string>{-22,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,155},{132,71}}</string>
                <key>sourceSize</key>
                <string>{200,275}</string>
            </dict>
            <key>170016_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,245},{132,71}}</string>
                <key>offset</key>
                <string>{-22,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,155},{132,71}}</string>
                <key>sourceSize</key>
                <string>{200,275}</string>
            </dict>
            <key>170017_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{124,69}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,166},{124,69}}</string>
                <key>sourceSize</key>
                <string>{200,275}</string>
            </dict>
            <key>170030_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,58},{124,69}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,166},{124,69}}</string>
                <key>sourceSize</key>
                <string>{200,275}</string>
            </dict>
            <key>170037_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,38},{124,65}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,169},{124,65}}</string>
                <key>sourceSize</key>
                <string>{200,275}</string>
            </dict>
            <key>170045_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,38},{104,57}}</string>
                <key>offset</key>
                <string>{-35,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,156},{104,57}}</string>
                <key>sourceSize</key>
                <string>{200,275}</string>
            </dict>
            <key>170045_deco_mat_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,38},{104,57}}</string>
                <key>offset</key>
                <string>{-35,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,156},{104,57}}</string>
                <key>sourceSize</key>
                <string>{200,275}</string>
            </dict>
            <key>170072_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{134,71}}</string>
                <key>offset</key>
                <string>{-23,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,156},{134,71}}</string>
                <key>sourceSize</key>
                <string>{200,275}</string>
            </dict>
            <key>170073_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,418},{178,91}}</string>
                <key>offset</key>
                <string>{-1,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,157},{178,91}}</string>
                <key>sourceSize</key>
                <string>{200,275}</string>
            </dict>
            <key>outside_floor_test.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,20},{46,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{46,36}</string>
            </dict>
            <key>outside_floor_test_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{46,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{46,36}</string>
            </dict>
            <key>outside_floor_test_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{46,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{46,36}</string>
            </dict>
            <key>outside_floor_test_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,34},{45,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>outside_floor_test_4_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{45,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>wall_outside_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,176}}</string>
                <key>sourceSize</key>
                <string>{12,176}</string>
            </dict>
            <key>wall_outside_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{16,188}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,188}}</string>
                <key>sourceSize</key>
                <string>{16,190}</string>
            </dict>
            <key>wall_outside_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{16,34}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,156},{16,34}}</string>
                <key>sourceSize</key>
                <string>{16,190}</string>
            </dict>
            <key>wall_outside_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{12,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,176}}</string>
                <key>sourceSize</key>
                <string>{12,176}</string>
            </dict>
            <key>wall_outside_right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,20},{16,188}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,188}}</string>
                <key>sourceSize</key>
                <string>{16,190}</string>
            </dict>
            <key>wall_outside_right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{16,34}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,156},{16,34}}</string>
                <key>sourceSize</key>
                <string>{16,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>deco_floor_dummy.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:694c63a968e8e9fadc638aac0a73e71d$</string>
            <key>textureFileName</key>
            <string>deco_floor_dummy.png</string>
        </dict>
    </dict>
</plist>
