<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>69897_deco_goods_stand_snack_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{74,86}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,91},{74,86}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69897_deco_goods_stand_snack_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,176},{74,84}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,81},{74,84}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69898_deco_goods_stand_snack_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{74,86}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,91},{74,86}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69898_deco_goods_stand_snack_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,90},{74,84}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,81},{74,84}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69899_deco_goods_stand_ramen_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{66,70}}</string>
                <key>offset</key>
                <string>{10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,83},{66,70}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69899_deco_goods_stand_ramen_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,304},{66,54}}</string>
                <key>offset</key>
                <string>{10,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,106},{66,54}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69899_deco_goods_stand_ramen_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,70},{62,70}}</string>
                <key>offset</key>
                <string>{10,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,90},{62,70}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69900_deco_goods_stand_ramen_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,70},{60,70}}</string>
                <key>offset</key>
                <string>{11,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,100},{60,70}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69900_deco_goods_stand_ramen_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,422},{62,54}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,105},{62,54}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69900_deco_goods_stand_ramen_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,302},{60,68}}</string>
                <key>offset</key>
                <string>{11,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,91},{60,68}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69901_deco_goods_stand_tissue_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{72,72}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,99},{72,72}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69901_deco_goods_stand_tissue_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,76},{72,70}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,101},{72,70}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69901_deco_goods_stand_tissue_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,224},{64,34}}</string>
                <key>offset</key>
                <string>{7,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,120},{64,34}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69901_deco_goods_stand_tissue_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,150},{68,72}}</string>
                <key>offset</key>
                <string>{6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,98},{68,72}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69902_deco_goods_stand_tissue_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,406},{66,70}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,100},{66,70}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69902_deco_goods_stand_tissue_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,76},{70,68}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,96},{70,68}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69902_deco_goods_stand_tissue_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,224},{62,34}}</string>
                <key>offset</key>
                <string>{7,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,113},{62,34}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69902_deco_goods_stand_tissue_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,334},{68,70}}</string>
                <key>offset</key>
                <string>{7,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,92},{68,70}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69903_deco_goods_stand_ice_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{68,72}}</string>
                <key>offset</key>
                <string>{6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,98},{68,72}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69903_deco_goods_stand_ice_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{66,70}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,98},{66,70}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69903_deco_goods_stand_ice_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,76},{68,72}}</string>
                <key>offset</key>
                <string>{6,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69903_deco_goods_stand_ice_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{66,70}}</string>
                <key>offset</key>
                <string>{6,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,92},{66,70}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69904_deco_goods_stand_ice_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,150},{68,72}}</string>
                <key>offset</key>
                <string>{6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,98},{68,72}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69904_deco_goods_stand_ice_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,260},{68,70}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,98},{68,70}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69904_deco_goods_stand_ice_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,260},{68,72}}</string>
                <key>offset</key>
                <string>{6,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,91},{68,72}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69904_deco_goods_stand_ice_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,150},{68,70}}</string>
                <key>offset</key>
                <string>{5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,91},{68,70}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69905_deco_goods_stand_drink_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,262},{60,78}}</string>
                <key>offset</key>
                <string>{10,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,92},{60,78}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69905_deco_goods_stand_drink_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,422},{60,54}}</string>
                <key>offset</key>
                <string>{12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,104},{60,54}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69905_deco_goods_stand_drink_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,224},{56,30}}</string>
                <key>offset</key>
                <string>{11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,103},{56,30}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69905_deco_goods_stand_drink_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,342},{58,78}}</string>
                <key>offset</key>
                <string>{11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,79},{58,78}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69906_deco_goods_stand_drink_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,422},{60,78}}</string>
                <key>offset</key>
                <string>{10,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,92},{60,78}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69906_deco_goods_stand_drink_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,422},{60,54}}</string>
                <key>offset</key>
                <string>{12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,104},{60,54}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69906_deco_goods_stand_drink_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,224},{56,30}}</string>
                <key>offset</key>
                <string>{11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,103},{56,30}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69906_deco_goods_stand_drink_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,262},{58,78}}</string>
                <key>offset</key>
                <string>{11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,79},{58,78}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69907_deco_goods_stand_drink_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,342},{60,78}}</string>
                <key>offset</key>
                <string>{10,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,92},{60,78}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69907_deco_goods_stand_drink_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,422},{60,54}}</string>
                <key>offset</key>
                <string>{12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,104},{60,54}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69907_deco_goods_stand_drink_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,224},{56,30}}</string>
                <key>offset</key>
                <string>{11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,103},{56,30}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69907_deco_goods_stand_drink_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,422},{58,78}}</string>
                <key>offset</key>
                <string>{11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,79},{58,78}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69908_deco_goods_stand_fresh_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,334},{72,56}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,58},{72,56}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69908_deco_goods_stand_fresh_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,190},{70,54}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,81},{70,54}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69908_deco_goods_stand_fresh_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,142}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{72,142}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69908_deco_goods_stand_fresh_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,408},{72,56}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,52},{72,56}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69908_deco_goods_stand_fresh_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,248},{70,54}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,76},{70,54}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69908_deco_goods_stand_fresh_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{72,136}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{72,136}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69909_deco_goods_stand_fresh_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,134},{70,56}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,58},{70,56}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69909_deco_goods_stand_fresh_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,246},{70,54}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,81},{70,54}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69909_deco_goods_stand_fresh_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,360},{60,62}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,105},{60,62}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69909_deco_goods_stand_fresh_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,132},{70,56}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,53},{70,56}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69909_deco_goods_stand_fresh_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,192},{70,54}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,76},{70,54}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>69909_deco_goods_stand_fresh_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{72,138}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{72,138}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>deco_idle_Japan.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a01d658841b10fe326be1ee57191ae0f$</string>
            <key>textureFileName</key>
            <string>deco_idle_Japan.png</string>
        </dict>
    </dict>
</plist>
