<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>170072_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{136,72}}</string>
                <key>offset</key>
                <string>{-23,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,210},{136,72}}</string>
                <key>sourceSize</key>
                <string>{202,330}</string>
            </dict>
            <key>170073_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,92}}</string>
                <key>offset</key>
                <string>{-1,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,211},{180,92}}</string>
                <key>sourceSize</key>
                <string>{202,330}</string>
            </dict>
            <key>170074_deco_mat_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{130,74}}</string>
                <key>offset</key>
                <string>{-22,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,207},{130,74}}</string>
                <key>sourceSize</key>
                <string>{202,330}</string>
            </dict>
            <key>170075_deco_mat_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,154},{94,54}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,206},{94,54}}</string>
                <key>sourceSize</key>
                <string>{202,330}</string>
            </dict>
            <key>170075_deco_mat_b_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,210},{56,48}}</string>
                <key>offset</key>
                <string>{-17,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,198},{56,48}}</string>
                <key>sourceSize</key>
                <string>{202,330}</string>
            </dict>
            <key>170075_deco_mat_b_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,48},{58,48}}</string>
                <key>offset</key>
                <string>{-18,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,198},{58,48}}</string>
                <key>sourceSize</key>
                <string>{202,330}</string>
            </dict>
            <key>170075_deco_mat_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,98},{94,54}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,206},{94,54}}</string>
                <key>sourceSize</key>
                <string>{202,330}</string>
            </dict>
            <key>170075_deco_mat_f_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,210},{58,44}}</string>
                <key>offset</key>
                <string>{-13,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,215},{58,44}}</string>
                <key>sourceSize</key>
                <string>{202,330}</string>
            </dict>
            <key>170075_deco_mat_f_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{60,44}}</string>
                <key>offset</key>
                <string>{-14,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,215},{60,44}}</string>
                <key>sourceSize</key>
                <string>{202,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>deco_mat_2.png</string>
            <key>size</key>
            <string>{252,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2015d5eee1202d9d637f964e32fe8241$</string>
            <key>textureFileName</key>
            <string>deco_mat_2.png</string>
        </dict>
    </dict>
</plist>
