<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11000_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,144},{90,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,127},{90,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11001_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,102},{90,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,127},{90,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11002_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{90,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,127},{90,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11003_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,98},{90,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,127},{90,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11004_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,100},{90,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,127},{90,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11005_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,98},{90,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,127},{90,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11006_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,52},{90,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,127},{90,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11007_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,52},{90,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,127},{90,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11008_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,190},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11009_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,192},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11010_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,190},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11011_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,148},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11012_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11013_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,144},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11014_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,144},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11015_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,146},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11016_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,414},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11017_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,414},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11018_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,414},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11019_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,414},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11020_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11021_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,324},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11022_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,282},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11023_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,284},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11024_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,282},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11025_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,240},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11026_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11027_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,236},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11028_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,238},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11029_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,236},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11030_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,194},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11031_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11032_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,234},{88,44}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,127},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11033_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,52},{92,48}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,125},{92,48}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11034_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,52},{92,46}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,126},{92,46}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11035_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{92,46}}</string>
                <key>offset</key>
                <string>{-1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,126},{92,46}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11036_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{92,48}}</string>
                <key>offset</key>
                <string>{-1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,125},{92,48}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11037_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{92,48}}</string>
                <key>offset</key>
                <string>{-1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,125},{92,48}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11038_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{92,48}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,125},{92,48}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11039_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,48}}</string>
                <key>offset</key>
                <string>{1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,125},{94,48}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>11040_deco_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,50}}</string>
                <key>offset</key>
                <string>{1,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,125},{94,50}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>deco_floor_new.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4952ec897f9aadbe723b689280b0acbd$</string>
            <key>textureFileName</key>
            <string>deco_floor_new.png</string>
        </dict>
    </dict>
</plist>
