<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{56,100}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{56,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{56,100}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{59,1},{56,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{56,100}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{117,1},{56,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{56,100}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{175,1},{56,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,44}</string>
                <key>spriteSourceSize</key>
                <string>{88,44}</string>
                <key>textureRect</key>
                <string>{{233,52},{88,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floor_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,49}</string>
                <key>spriteSourceSize</key>
                <string>{88,49}</string>
                <key>textureRect</key>
                <string>{{233,1},{88,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>deco.png</string>
            <key>size</key>
            <string>{322,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cebf6002eb0eaf0bbbfe6be00a2e9ff:43c6f00698624c2200d83bf159d6b864:e341c449da4f0c890fd8230199ce5521$</string>
            <key>textureFileName</key>
            <string>deco.png</string>
        </dict>
    </dict>
</plist>
