<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-30}</string>
                <key>spriteSize</key>
                <string>{82,141}</string>
                <key>spriteSourceSize</key>
                <string>{150,225}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-30}</string>
                <key>spriteSize</key>
                <string>{80,141}</string>
                <key>spriteSourceSize</key>
                <string>{150,225}</string>
                <key>textureRect</key>
                <string>{{85,1},{80,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-64}</string>
                <key>spriteSize</key>
                <string>{82,73}</string>
                <key>spriteSourceSize</key>
                <string>{150,225}</string>
                <key>textureRect</key>
                <string>{{1,144},{82,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-68}</string>
                <key>spriteSize</key>
                <string>{62,65}</string>
                <key>spriteSourceSize</key>
                <string>{150,225}</string>
                <key>textureRect</key>
                <string>{{145,171},{62,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-60}</string>
                <key>spriteSize</key>
                <string>{62,83}</string>
                <key>spriteSourceSize</key>
                <string>{150,225}</string>
                <key>textureRect</key>
                <string>{{167,1},{62,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-59}</string>
                <key>spriteSize</key>
                <string>{58,83}</string>
                <key>spriteSourceSize</key>
                <string>{150,225}</string>
                <key>textureRect</key>
                <string>{{85,144},{58,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-60}</string>
                <key>spriteSize</key>
                <string>{62,83}</string>
                <key>spriteSourceSize</key>
                <string>{150,225}</string>
                <key>textureRect</key>
                <string>{{167,86},{62,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>display.png</string>
            <key>size</key>
            <string>{230,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6179af1fa1d8caf52670ca5b46592782:d1b0d2b593c9be24962e0a4cbc756898:2eb0484e2c1bf0f412a4660a493af16a$</string>
            <key>textureFileName</key>
            <string>display.png</string>
        </dict>
    </dict>
</plist>
