<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-318.5,178.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{640,360}</string>
                <key>textureRect</key>
                <string>{{274,292},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,44}</string>
                <key>spriteSourceSize</key>
                <string>{151,44}</string>
                <key>textureRect</key>
                <string>{{1520,181},{151,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,44}</string>
                <key>spriteSourceSize</key>
                <string>{151,44}</string>
                <key>textureRect</key>
                <string>{{1673,179},{151,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,44}</string>
                <key>spriteSourceSize</key>
                <string>{151,44}</string>
                <key>textureRect</key>
                <string>{{1826,166},{151,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,78}</string>
                <key>spriteSourceSize</key>
                <string>{178,78}</string>
                <key>textureRect</key>
                <string>{{1426,1},{178,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,78}</string>
                <key>spriteSourceSize</key>
                <string>{178,78}</string>
                <key>textureRect</key>
                <string>{{1506,1},{178,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn05_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,38}</string>
                <key>spriteSourceSize</key>
                <string>{49,38}</string>
                <key>textureRect</key>
                <string>{{686,453},{49,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deck_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,163}</string>
                <key>spriteSourceSize</key>
                <string>{143,163}</string>
                <key>textureRect</key>
                <string>{{1741,1},{143,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deck_class_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1718,292},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deck_class_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1840,354},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deck_class_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1922,214},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deck_employee.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,176}</string>
                <key>spriteSourceSize</key>
                <string>{153,176}</string>
                <key>textureRect</key>
                <string>{{1,317},{153,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deck_etc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,237}</string>
                <key>spriteSourceSize</key>
                <string>{159,237}</string>
                <key>textureRect</key>
                <string>{{978,256},{159,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deck_etc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,260}</string>
                <key>spriteSourceSize</key>
                <string>{159,260}</string>
                <key>textureRect</key>
                <string>{{739,1},{159,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deck_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,174}</string>
                <key>textureRect</key>
                <string>{{1556,227},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deck_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,176}</string>
                <key>spriteSourceSize</key>
                <string>{153,176}</string>
                <key>textureRect</key>
                <string>{{156,317},{153,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deck_who.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,176}</string>
                <key>spriteSourceSize</key>
                <string>{153,176}</string>
                <key>textureRect</key>
                <string>{{1586,1},{153,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deck_who2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,101}</string>
                <key>spriteSourceSize</key>
                <string>{65,101}</string>
                <key>textureRect</key>
                <string>{{1718,225},{65,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_big_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1922,296},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_big_coin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1556,403},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_big_rub3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,81}</string>
                <key>spriteSourceSize</key>
                <string>{72,81}</string>
                <key>textureRect</key>
                <string>{{1644,403},{72,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_big_ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,75}</string>
                <key>spriteSourceSize</key>
                <string>{66,75}</string>
                <key>textureRect</key>
                <string>{{1922,378},{66,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1800,319},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_em.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,45}</string>
                <key>spriteSourceSize</key>
                <string>{48,45}</string>
                <key>textureRect</key>
                <string>{{1426,181},{48,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_em2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1886,92},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{1866,319},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{1836,319},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,45}</string>
                <key>spriteSourceSize</key>
                <string>{48,45}</string>
                <key>textureRect</key>
                <string>{{1473,181},{48,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_vip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1718,374},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_vip3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1718,374},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pack01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,267}</string>
                <key>spriteSourceSize</key>
                <string>{242,267}</string>
                <key>textureRect</key>
                <string>{{495,1},{242,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pack02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,314}</string>
                <key>spriteSourceSize</key>
                <string>{271,314}</string>
                <key>textureRect</key>
                <string>{{1,1},{271,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pack_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,43}</string>
                <key>spriteSourceSize</key>
                <string>{122,43}</string>
                <key>textureRect</key>
                <string>{{1886,47},{122,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pack_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,44}</string>
                <key>spriteSourceSize</key>
                <string>{122,44}</string>
                <key>textureRect</key>
                <string>{{1886,1},{122,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pack_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,289}</string>
                <key>spriteSourceSize</key>
                <string>{219,289}</string>
                <key>textureRect</key>
                <string>{{274,1},{219,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pack_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{181,241}</string>
                <key>spriteSourceSize</key>
                <string>{181,251}</string>
                <key>textureRect</key>
                <string>{{1373,246},{181,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pack_bronze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,251}</string>
                <key>spriteSourceSize</key>
                <string>{181,251}</string>
                <key>textureRect</key>
                <string>{{311,292},{181,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pack_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,41}</string>
                <key>spriteSourceSize</key>
                <string>{120,41}</string>
                <key>textureRect</key>
                <string>{{564,453},{120,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pack_deck_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,243}</string>
                <key>spriteSourceSize</key>
                <string>{165,243}</string>
                <key>textureRect</key>
                <string>{{1259,1},{165,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pack_deck_bg_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,253}</string>
                <key>spriteSourceSize</key>
                <string>{175,253}</string>
                <key>textureRect</key>
                <string>{{900,1},{175,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pack_deck_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,231}</string>
                <key>spriteSourceSize</key>
                <string>{159,231}</string>
                <key>textureRect</key>
                <string>{{817,263},{159,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pack_deck_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,71}</string>
                <key>spriteSourceSize</key>
                <string>{239,71}</string>
                <key>textureRect</key>
                <string>{{1139,254},{239,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pack_deck_ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,231}</string>
                <key>spriteSourceSize</key>
                <string>{159,231}</string>
                <key>textureRect</key>
                <string>{{1212,254},{159,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pack_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,251}</string>
                <key>spriteSourceSize</key>
                <string>{181,251}</string>
                <key>textureRect</key>
                <string>{{564,270},{181,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pack_silver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,251}</string>
                <key>spriteSourceSize</key>
                <string>{180,251}</string>
                <key>textureRect</key>
                <string>{{1077,1},{180,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tap_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,28}</string>
                <key>spriteSourceSize</key>
                <string>{71,28}</string>
                <key>textureRect</key>
                <string>{{737,453},{71,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>draw_card.png</string>
            <key>size</key>
            <string>{2009,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d3f14615b0d13dc2d4c032168855262:b72f5cb88e733395d1eb57bb07b02b98:edcefca862c7026c110244bf10bdb425$</string>
            <key>textureFileName</key>
            <string>draw_card.png</string>
        </dict>
    </dict>
</plist>
