<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,2235},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>0_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,2183},{50,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{50,48}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>0_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,2184},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>1280x720.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2566},{1282,722}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1282,722}}</string>
                <key>sourceSize</key>
                <string>{1282,722}</string>
            </dict>
            <key>1280x720_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1043},{642,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,362}}</string>
                <key>sourceSize</key>
                <string>{642,362}</string>
            </dict>
            <key>130004_outside_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,1681},{90,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,46}}</string>
                <key>sourceSize</key>
                <string>{90,46}</string>
            </dict>
            <key>floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,1589},{90,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,46}}</string>
                <key>sourceSize</key>
                <string>{90,46}</string>
            </dict>
            <key>gift_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,2058},{123,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,124}}</string>
                <key>sourceSize</key>
                <string>{123,124}</string>
            </dict>
            <key>gift_box1_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,2134},{120,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,123}}</string>
                <key>sourceSize</key>
                <string>{120,123}</string>
            </dict>
            <key>gift_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2080},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>gift_box2_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1824},{128,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>gift_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,2008},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,125}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
            <key>gift_box3_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1928},{128,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>gift_box4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1954},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,125}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
            <key>gift_box4_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,619},{128,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>gift_box5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1882},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,125}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
            <key>gift_box5_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,1798},{128,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>gift_deck.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,749},{161,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,240}}</string>
                <key>sourceSize</key>
                <string>{161,240}</string>
            </dict>
            <key>gift_deck_tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,1817},{147,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,63}}</string>
                <key>sourceSize</key>
                <string>{147,63}</string>
            </dict>
            <key>gift_deck_tap_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,1733},{147,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,63}}</string>
                <key>sourceSize</key>
                <string>{147,63}</string>
            </dict>
            <key>gift_deck_tap_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,1752},{147,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,63}}</string>
                <key>sourceSize</key>
                <string>{147,63}</string>
            </dict>
            <key>gift_deck_tap_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,1687},{147,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,63}}</string>
                <key>sourceSize</key>
                <string>{147,63}</string>
            </dict>
            <key>gift_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,846},{391,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,195}}</string>
                <key>sourceSize</key>
                <string>{391,195}</string>
            </dict>
            <key>gift_time_tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{2010,580},{151,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,33}}</string>
                <key>sourceSize</key>
                <string>{151,33}</string>
            </dict>
            <key>gift_time_tap_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,375},{33,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>loading1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,535},{568,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,43}}</string>
                <key>sourceSize</key>
                <string>{568,43}</string>
            </dict>
            <key>loading1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,580},{562,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{562,37}}</string>
                <key>sourceSize</key>
                <string>{568,43}</string>
            </dict>
            <key>popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1272},{315,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,211}}</string>
                <key>sourceSize</key>
                <string>{315,211}</string>
            </dict>
            <key>popup_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1195},{233,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,75}}</string>
                <key>sourceSize</key>
                <string>{233,75}</string>
            </dict>
            <key>popup_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1118},{233,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,75}}</string>
                <key>sourceSize</key>
                <string>{233,75}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,619},{430,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,225}}</string>
                <key>sourceSize</key>
                <string>{430,225}</string>
            </dict>
            <key>title_ani1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{573,371}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,48},{573,371}}</string>
                <key>sourceSize</key>
                <string>{577,419}</string>
            </dict>
            <key>title_ani10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,1877},{96,78}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{96,78}}</string>
                <key>sourceSize</key>
                <string>{108,86}</string>
            </dict>
            <key>title_ani11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,2031},{50,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,78}}</string>
                <key>sourceSize</key>
                <string>{50,78}</string>
            </dict>
            <key>title_ani11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,1853},{50,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,78}}</string>
                <key>sourceSize</key>
                <string>{50,78}</string>
            </dict>
            <key>title_ani12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,1982},{47,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,79}}</string>
                <key>sourceSize</key>
                <string>{47,79}</string>
            </dict>
            <key>title_ani12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,1933},{47,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,79}}</string>
                <key>sourceSize</key>
                <string>{47,79}</string>
            </dict>
            <key>title_ani13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,2185},{48,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,78}}</string>
                <key>sourceSize</key>
                <string>{48,78}</string>
            </dict>
            <key>title_ani13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,2183},{48,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,78}}</string>
                <key>sourceSize</key>
                <string>{48,78}</string>
            </dict>
            <key>title_ani14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,2232},{46,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,78}}</string>
                <key>sourceSize</key>
                <string>{46,78}</string>
            </dict>
            <key>title_ani14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,2184},{46,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,78}}</string>
                <key>sourceSize</key>
                <string>{46,78}</string>
            </dict>
            <key>title_ani1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,1957},{110,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,95}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>title_ani2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,375},{570,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{570,158}}</string>
                <key>sourceSize</key>
                <string>{578,162}</string>
            </dict>
            <key>title_ani3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,991},{193,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,125}}</string>
                <key>sourceSize</key>
                <string>{193,125}</string>
            </dict>
            <key>title_ani4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1687},{153,135}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,135}}</string>
                <key>sourceSize</key>
                <string>{163,139}</string>
            </dict>
            <key>title_ani5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,1773},{102,89}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{102,89}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>title_ani6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2206},{116,119}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,119}}</string>
                <key>sourceSize</key>
                <string>{128,119}</string>
            </dict>
            <key>title_ani7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1589},{188,142}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{188,142}}</string>
                <key>sourceSize</key>
                <string>{200,176}</string>
            </dict>
            <key>title_ani8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,1770},{54,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,81}}</string>
                <key>sourceSize</key>
                <string>{54,81}</string>
            </dict>
            <key>title_ani8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,1687},{54,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,81}}</string>
                <key>sourceSize</key>
                <string>{54,81}</string>
            </dict>
            <key>title_ani9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,2134},{49,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,78}}</string>
                <key>sourceSize</key>
                <string>{49,78}</string>
            </dict>
            <key>title_ani9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,2083},{49,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,78}}</string>
                <key>sourceSize</key>
                <string>{49,78}</string>
            </dict>
            <key>title_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2562,1442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2562,1442}}</string>
                <key>sourceSize</key>
                <string>{2562,1442}</string>
            </dict>
            <key>title_sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,2054},{128,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,107}}</string>
                <key>sourceSize</key>
                <string>{128,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>event.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e98fb4040c7e9a64ce09aee2625edcf5$</string>
            <key>textureFileName</key>
            <string>event.png</string>
        </dict>
    </dict>
</plist>
