<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guest_boy01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,117}</string>
                <key>spriteSourceSize</key>
                <string>{71,117}</string>
                <key>textureRect</key>
                <string>{{157,1},{71,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guest_boy02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,117}</string>
                <key>spriteSourceSize</key>
                <string>{70,117}</string>
                <key>textureRect</key>
                <string>{{160,120},{70,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guest_boy03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,116}</string>
                <key>spriteSourceSize</key>
                <string>{77,116}</string>
                <key>textureRect</key>
                <string>{{81,122},{77,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guest_girl01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,117}</string>
                <key>spriteSourceSize</key>
                <string>{72,117}</string>
                <key>textureRect</key>
                <string>{{83,1},{72,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guest_girl02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,116}</string>
                <key>spriteSourceSize</key>
                <string>{78,116}</string>
                <key>textureRect</key>
                <string>{{1,122},{78,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guest_girl03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,119}</string>
                <key>spriteSourceSize</key>
                <string>{80,119}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_boy01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{59,78}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{494,167},{59,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_boy02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{59,78}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{496,81},{59,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_boy03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{63,78}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{368,165},{63,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_girl01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{61,78}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{439,1},{61,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_girl02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{65,78}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{301,169},{65,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_girl03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{67,80}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{232,169},{67,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_boy01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{433,167},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_boy02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{61,82}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{376,1},{61,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_boy03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{63,82}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{301,85},{63,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_boy04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{65,78}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{366,85},{65,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_boy05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{79,82}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{230,1},{79,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_boy06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{67,82}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{232,85},{67,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_boy07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{63,82}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{311,1},{63,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_girl01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{61,80}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{433,85},{61,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guest.png</string>
            <key>size</key>
            <string>{556,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f5be9eda267e6557f90d5b4dc28376b:1578d10a24892c8ad2b07d1c31d03a4a:b6fdf1a1140c10913119acdb143650b9$</string>
            <key>textureFileName</key>
            <string>guest.png</string>
        </dict>
    </dict>
</plist>
