<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_rewards_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{434,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,56}}</string>
                <key>sourceSize</key>
                <string>{434,56}</string>
            </dict>
            <key>card_upgrade_chance_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,60},{556,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,408}}</string>
                <key>sourceSize</key>
                <string>{556,408}</string>
            </dict>
            <key>card_upgrade_chance_button_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1645},{130,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,64}}</string>
                <key>sourceSize</key>
                <string>{130,64}</string>
            </dict>
            <key>card_upgrade_chance_button_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1645},{130,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,64}}</string>
                <key>sourceSize</key>
                <string>{130,64}</string>
            </dict>
            <key>edit_goods_display_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,504},{64,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,29}}</string>
                <key>sourceSize</key>
                <string>{64,29}</string>
            </dict>
            <key>gift_card_ad_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,468},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>gift_card_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{1068,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1068,366}}</string>
                <key>sourceSize</key>
                <string>{1068,366}</string>
            </dict>
            <key>gift_card_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1260},{191,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,249}}</string>
                <key>sourceSize</key>
                <string>{191,249}</string>
            </dict>
            <key>gift_card_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1368},{186,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,64}}</string>
                <key>sourceSize</key>
                <string>{186,64}</string>
            </dict>
            <key>gift_card_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,805},{190,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,267}}</string>
                <key>sourceSize</key>
                <string>{190,267}</string>
            </dict>
            <key>gift_card_box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1182},{190,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,52}}</string>
                <key>sourceSize</key>
                <string>{190,52}</string>
            </dict>
            <key>gift_card_bronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1789},{166,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,224}}</string>
                <key>sourceSize</key>
                <string>{166,224}</string>
            </dict>
            <key>gift_card_bronze_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,905},{166,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,224}}</string>
                <key>sourceSize</key>
                <string>{166,224}</string>
            </dict>
            <key>gift_card_btn_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1128},{190,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,52}}</string>
                <key>sourceSize</key>
                <string>{190,52}</string>
            </dict>
            <key>gift_card_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1074},{190,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,52}}</string>
                <key>sourceSize</key>
                <string>{190,52}</string>
            </dict>
            <key>gift_card_complete_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1131},{191,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,250}}</string>
                <key>sourceSize</key>
                <string>{191,250}</string>
            </dict>
            <key>gift_card_complete_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,536},{190,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,267}}</string>
                <key>sourceSize</key>
                <string>{190,267}</string>
            </dict>
            <key>gift_card_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1789},{166,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,224}}</string>
                <key>sourceSize</key>
                <string>{166,224}</string>
            </dict>
            <key>gift_card_gold_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1453},{166,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,224}}</string>
                <key>sourceSize</key>
                <string>{166,224}</string>
            </dict>
            <key>gift_card_loding_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1067},{191,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,250}}</string>
                <key>sourceSize</key>
                <string>{191,250}</string>
            </dict>
            <key>gift_card_open_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1574},{148,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,69}}</string>
                <key>sourceSize</key>
                <string>{148,69}</string>
            </dict>
            <key>gift_card_platinum.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1621},{166,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,224}}</string>
                <key>sourceSize</key>
                <string>{166,224}</string>
            </dict>
            <key>gift_card_platinum_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1383},{166,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,224}}</string>
                <key>sourceSize</key>
                <string>{166,224}</string>
            </dict>
            <key>gift_card_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1609},{166,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,224}}</string>
                <key>sourceSize</key>
                <string>{166,224}</string>
            </dict>
            <key>gift_card_silver_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1434},{166,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,224}}</string>
                <key>sourceSize</key>
                <string>{166,224}</string>
            </dict>
            <key>gift_card_slot_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,742},{161,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,154}}</string>
                <key>sourceSize</key>
                <string>{161,154}</string>
            </dict>
            <key>gift_card_time_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,266},{200,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>gift_card_time_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,512},{191,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,38}}</string>
                <key>sourceSize</key>
                <string>{191,38}</string>
            </dict>
            <key>gift_card_time_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,504},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>gift_card_time_reduction_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{558,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,404}}</string>
                <key>sourceSize</key>
                <string>{558,404}</string>
            </dict>
            <key>gift_card_time_reduction_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,618},{300,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,223}}</string>
                <key>sourceSize</key>
                <string>{300,223}</string>
            </dict>
            <key>gift_card_time_reduction_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{483,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,94}}</string>
                <key>sourceSize</key>
                <string>{483,94}</string>
            </dict>
            <key>gift_card_time_reduction_box4.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,60},{204,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,50}}</string>
                <key>sourceSize</key>
                <string>{204,50}</string>
            </dict>
            <key>gift_card_time_reduction_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1660},{126,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,72}}</string>
                <key>sourceSize</key>
                <string>{126,72}</string>
            </dict>
            <key>gift_card_time_reduction_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,408},{126,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,72}}</string>
                <key>sourceSize</key>
                <string>{126,72}</string>
            </dict>
            <key>gift_card_time_reduction_card_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1660},{56,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,65}}</string>
                <key>sourceSize</key>
                <string>{56,65}</string>
            </dict>
            <key>icon_random.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,618},{106,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{106,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>main_card_reward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,843},{222,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,276}}</string>
                <key>sourceSize</key>
                <string>{222,276}</string>
            </dict>
            <key>main_gift_card_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1574},{58,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,69}}</string>
                <key>sourceSize</key>
                <string>{58,69}</string>
            </dict>
            <key>reward_double_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1302},{186,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,64}}</string>
                <key>sourceSize</key>
                <string>{186,64}</string>
            </dict>
            <key>reward_double_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1236},{186,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,64}}</string>
                <key>sourceSize</key>
                <string>{186,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_card_reward.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:183c671f1c2a7b3f1f92e2df9af14f94$</string>
            <key>textureFileName</key>
            <string>new_card_reward.png</string>
        </dict>
    </dict>
</plist>
