<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_bonus_blue_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,244},{156,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,54}}</string>
                <key>sourceSize</key>
                <string>{156,54}</string>
            </dict>
            <key>buff_bonus_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1560},{405,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,309}}</string>
                <key>sourceSize</key>
                <string>{405,309}</string>
            </dict>
            <key>buff_bonus_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,548},{329,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,164}}</string>
                <key>sourceSize</key>
                <string>{329,164}</string>
            </dict>
            <key>buff_bonus_orange_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,188},{157,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,54}}</string>
                <key>sourceSize</key>
                <string>{157,54}</string>
            </dict>
            <key>buff_bonus_random_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1969},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>card_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,686},{122,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{122,124}</string>
            </dict>
            <key>card_friend_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{998,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{998,184}}</string>
                <key>sourceSize</key>
                <string>{998,184}</string>
            </dict>
            <key>card_friend_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,182},{186,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,184}}</string>
                <key>sourceSize</key>
                <string>{186,184}</string>
            </dict>
            <key>card_friend_jewel.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,666},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>card_friend_jewel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,938},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>card_friend_my.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,560},{122,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{122,124}</string>
            </dict>
            <key>community_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{702,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,24}}</string>
                <key>sourceSize</key>
                <string>{702,24}</string>
            </dict>
            <key>community_bar_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{702,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,24}}</string>
                <key>sourceSize</key>
                <string>{702,24}</string>
            </dict>
            <key>community_bar_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{710,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,32}}</string>
                <key>sourceSize</key>
                <string>{710,32}</string>
            </dict>
            <key>community_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1280},{620,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,434}}</string>
                <key>sourceSize</key>
                <string>{620,434}</string>
            </dict>
            <key>community_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{764,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{764,348}}</string>
                <key>sourceSize</key>
                <string>{764,348}</string>
            </dict>
            <key>community_box_4_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{764,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{764,40}}</string>
                <key>sourceSize</key>
                <string>{764,40}</string>
            </dict>
            <key>community_box_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2041,208},{728,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{728,4}}</string>
                <key>sourceSize</key>
                <string>{728,4}</string>
            </dict>
            <key>community_check_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,1254},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>community_check_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1937},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>community_facebook_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,62},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>community_facebook_button_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,2},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>community_facebook_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1811},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>community_facebook_icon_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1775},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>community_gray_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1914},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>community_level_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1937},{60,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,24}}</string>
                <key>sourceSize</key>
                <string>{60,24}</string>
            </dict>
            <key>community_orange_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,122},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>community_red_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,879},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>community_renewal_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,1204},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>community_ruby_receive_gray_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1671},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>community_ruby_receive_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1634},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>community_ruby_send_gray_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1597},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>community_ruby_send_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1560},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>community_speech_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1243},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>community_yellow_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1914},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>congratulations_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1967},{546,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,56}}</string>
                <key>sourceSize</key>
                <string>{546,56}</string>
            </dict>
            <key>friend_visit_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,580},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>game_friend_add_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,1204},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>game_friend_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,952},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>game_friend_mail_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,1154},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>game_friend_share_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,1154},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>game_friend_sms_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,1953},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>game_friend_trash_can_orange_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1953},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>game_friend_trash_can_yellow_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,1953},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>main_notice_icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1739},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>main_text_box_btn_tuto.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,300},{702,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,152}}</string>
                <key>sourceSize</key>
                <string>{702,152}</string>
            </dict>
            <key>ranking_1st.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1902},{65,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,54}}</string>
                <key>sourceSize</key>
                <string>{65,54}</string>
            </dict>
            <key>ranking_2st.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1902},{65,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,54}}</string>
                <key>sourceSize</key>
                <string>{65,54}</string>
            </dict>
            <key>ranking_3st.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1902},{65,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,54}}</string>
                <key>sourceSize</key>
                <string>{65,54}</string>
            </dict>
            <key>ranking_ad_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1708},{35,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,29}}</string>
                <key>sourceSize</key>
                <string>{35,29}</string>
            </dict>
            <key>ranking_arrow_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2034,182},{24,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,10}}</string>
                <key>sourceSize</key>
                <string>{24,10}</string>
            </dict>
            <key>ranking_arrow_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,714},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>ranking_arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,686},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>ranking_blue_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1953},{122,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,54}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>ranking_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{670,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,458}}</string>
                <key>sourceSize</key>
                <string>{670,458}</string>
            </dict>
            <key>ranking_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{662,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,298}}</string>
                <key>sourceSize</key>
                <string>{662,298}</string>
            </dict>
            <key>ranking_box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1305},{662,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,118}}</string>
                <key>sourceSize</key>
                <string>{662,118}</string>
            </dict>
            <key>ranking_box_3_1st.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1280},{632,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,72}}</string>
                <key>sourceSize</key>
                <string>{632,72}</string>
            </dict>
            <key>ranking_box_3_2st.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1969},{632,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,72}}</string>
                <key>sourceSize</key>
                <string>{632,72}</string>
            </dict>
            <key>ranking_box_3_3st.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,188},{632,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,72}}</string>
                <key>sourceSize</key>
                <string>{632,72}</string>
            </dict>
            <key>ranking_box_3_my_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1884},{606,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,67}}</string>
                <key>sourceSize</key>
                <string>{606,67}</string>
            </dict>
            <key>ranking_box_4_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1516},{662,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,42}}</string>
                <key>sourceSize</key>
                <string>{662,42}</string>
            </dict>
            <key>ranking_box_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,632},{662,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,60}}</string>
                <key>sourceSize</key>
                <string>{662,60}</string>
            </dict>
            <key>ranking_box_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,368},{582,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,4}}</string>
                <key>sourceSize</key>
                <string>{582,4}</string>
            </dict>
            <key>ranking_character_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1953},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ranking_community_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{842,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{842,556}}</string>
                <key>sourceSize</key>
                <string>{842,556}</string>
            </dict>
            <key>ranking_gray_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,1953},{122,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,54}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>ranking_last_season.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1953},{122,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,54}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>ranking_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2034,208},{654,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,5}}</string>
                <key>sourceSize</key>
                <string>{654,5}</string>
            </dict>
            <key>ranking_lv_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1967},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>ranking_mylist_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{680,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,88}}</string>
                <key>sourceSize</key>
                <string>{680,88}</string>
            </dict>
            <key>ranking_orange_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1902},{128,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>ranking_phase.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1266},{616,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{616,88}}</string>
                <key>sourceSize</key>
                <string>{616,92}</string>
            </dict>
            <key>ranking_phase_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,488},{170,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,58}}</string>
                <key>sourceSize</key>
                <string>{170,58}</string>
            </dict>
            <key>ranking_phase_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,428},{170,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,58}}</string>
                <key>sourceSize</key>
                <string>{170,58}</string>
            </dict>
            <key>ranking_phase_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,368},{170,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,58}}</string>
                <key>sourceSize</key>
                <string>{170,58}</string>
            </dict>
            <key>ranking_question_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,1953},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ranking_result_blue_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,1098},{106,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,54}}</string>
                <key>sourceSize</key>
                <string>{106,54}</string>
            </dict>
            <key>ranking_result_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1560},{375,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,309}}</string>
                <key>sourceSize</key>
                <string>{375,309}</string>
            </dict>
            <key>ranking_result_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1004},{274,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,117}}</string>
                <key>sourceSize</key>
                <string>{274,117}</string>
            </dict>
            <key>ranking_result_orange_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,1042},{107,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,54}}</string>
                <key>sourceSize</key>
                <string>{107,54}</string>
            </dict>
            <key>ranking_reward_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,879},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ranking_reward_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,822},{442,554}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,554}}</string>
                <key>sourceSize</key>
                <string>{442,554}</string>
            </dict>
            <key>ranking_time_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,756},{415,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,30}}</string>
                <key>sourceSize</key>
                <string>{415,30}</string>
            </dict>
            <key>ranking_time_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,879},{411,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,26}}</string>
                <key>sourceSize</key>
                <string>{411,26}</string>
            </dict>
            <key>ranking_time_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1847},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>ranking_timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1208},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>ranking_timer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1962},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ranking_timer_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1173},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>ranking_yellow_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1902},{128,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>ruby_ad_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1883},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>ruby_ad_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,1953},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_community.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc8b9f6d630f61677f0bdebc1aa86d17$</string>
            <key>textureFileName</key>
            <string>new_community.png</string>
        </dict>
    </dict>
</plist>
