<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_gift_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{250,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,342}}</string>
                <key>sourceSize</key>
                <string>{250,342}</string>
            </dict>
            <key>card_gift_box_ad_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,448},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>card_gift_box_ad_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>card_gift_box_button_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,280},{220,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,74}}</string>
                <key>sourceSize</key>
                <string>{220,74}</string>
            </dict>
            <key>card_gift_box_button_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,280},{220,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,74}}</string>
                <key>sourceSize</key>
                <string>{220,74}</string>
            </dict>
            <key>card_gift_box_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,342}}</string>
                <key>sourceSize</key>
                <string>{250,342}</string>
            </dict>
            <key>card_gift_box_time_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,448},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>gift_box_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,356},{154,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,174}}</string>
                <key>sourceSize</key>
                <string>{154,174}</string>
            </dict>
            <key>gift_box_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,356},{154,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,174}}</string>
                <key>sourceSize</key>
                <string>{154,174}</string>
            </dict>
            <key>gift_box_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,346},{154,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,174}}</string>
                <key>sourceSize</key>
                <string>{154,174}</string>
            </dict>
            <key>gift_box_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{154,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,174}}</string>
                <key>sourceSize</key>
                <string>{154,174}</string>
            </dict>
            <key>gift_box_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{154,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,174}}</string>
                <key>sourceSize</key>
                <string>{154,174}</string>
            </dict>
            <key>gift_box_upgrade_ad_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>gift_box_upgrade_arrow_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,356},{120,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,152}}</string>
                <key>sourceSize</key>
                <string>{120,152}</string>
            </dict>
            <key>gift_box_upgrade_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,178},{228,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,100}}</string>
                <key>sourceSize</key>
                <string>{228,100}</string>
            </dict>
            <key>gift_box_upgrade_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,178},{228,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,100}}</string>
                <key>sourceSize</key>
                <string>{228,100}</string>
            </dict>
            <key>gift_box_upgrade_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>gift_box_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{154,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,174}}</string>
                <key>sourceSize</key>
                <string>{154,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_gift_box.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea3c91ceca8bbaa120bbfd2b151b1c0f$</string>
            <key>textureFileName</key>
            <string>new_gift_box.png</string>
        </dict>
    </dict>
</plist>
