<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_quest_arrow_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,3871},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>action_quest_arrow_key2.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,3979},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>action_quest_arrow_key_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1561},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,182}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>action_quest_barricade.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,1864},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>action_quest_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2303},{1282,722}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1282,722}}</string>
                <key>sourceSize</key>
                <string>{1282,722}</string>
            </dict>
            <key>action_quest_bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,1802},{26,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,60}}</string>
                <key>sourceSize</key>
                <string>{26,60}</string>
            </dict>
            <key>action_quest_bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,1745},{26,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,60}}</string>
                <key>sourceSize</key>
                <string>{26,60}</string>
            </dict>
            <key>action_quest_explan_theif.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1035},{1549,632}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1549,632}}</string>
                <key>sourceSize</key>
                <string>{1549,632}</string>
            </dict>
            <key>action_quest_explan_ufo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3027},{993,632}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{993,632}}</string>
                <key>sourceSize</key>
                <string>{993,632}</string>
            </dict>
            <key>action_quest_explan_zombie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1669},{1549,632}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1549,632}}</string>
                <key>sourceSize</key>
                <string>{1549,632}</string>
            </dict>
            <key>action_quest_grab_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,2303},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_quest_gray_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,587},{259,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{259,60}}</string>
                <key>sourceSize</key>
                <string>{265,66}</string>
            </dict>
            <key>action_quest_green_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,649},{259,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{259,60}}</string>
                <key>sourceSize</key>
                <string>{265,66}</string>
            </dict>
            <key>action_quest_guest_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4022},{62,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,101}}</string>
                <key>sourceSize</key>
                <string>{62,101}</string>
            </dict>
            <key>action_quest_guest_icon_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,1855},{29,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,43}}</string>
                <key>sourceSize</key>
                <string>{29,43}</string>
            </dict>
            <key>action_quest_gunshot_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2303},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_quest_icon_coin_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,4050},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>action_quest_icon_ufo.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,4022},{86,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,60}}</string>
                <key>sourceSize</key>
                <string>{86,60}</string>
            </dict>
            <key>action_quest_icon_ufo_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,1807},{52,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,38}}</string>
                <key>sourceSize</key>
                <string>{52,38}</string>
            </dict>
            <key>action_quest_lock_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1980},{63,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,82}}</string>
                <key>sourceSize</key>
                <string>{63,82}</string>
            </dict>
            <key>action_quest_mission_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,1448},{244,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{244,24}}</string>
                <key>sourceSize</key>
                <string>{248,28}</string>
            </dict>
            <key>action_quest_mission_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,711},{248,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,28}}</string>
                <key>sourceSize</key>
                <string>{248,28}</string>
            </dict>
            <key>action_quest_mission_bar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,2},{272,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,38}}</string>
                <key>sourceSize</key>
                <string>{272,38}</string>
            </dict>
            <key>action_quest_mission_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,3871},{368,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,106}}</string>
                <key>sourceSize</key>
                <string>{368,106}</string>
            </dict>
            <key>action_quest_mission_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1035},{206,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,152}}</string>
                <key>sourceSize</key>
                <string>{206,152}</string>
            </dict>
            <key>action_quest_mission_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2813},{321,546}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{321,546}}</string>
                <key>sourceSize</key>
                <string>{341,548}</string>
            </dict>
            <key>action_quest_mission_box_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2042,2},{268,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,4}}</string>
                <key>sourceSize</key>
                <string>{268,4}</string>
            </dict>
            <key>action_quest_mission_box_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,3173},{321,545}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{321,545}}</string>
                <key>sourceSize</key>
                <string>{323,547}</string>
            </dict>
            <key>action_quest_mission_img_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,332},{259,253}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{259,253}}</string>
                <key>sourceSize</key>
                <string>{267,267}</string>
            </dict>
            <key>action_quest_mission_img_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,42},{271,227}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{271,227}}</string>
                <key>sourceSize</key>
                <string>{277,237}</string>
            </dict>
            <key>action_quest_mission_img_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1251},{159,189}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,52},{159,189}}</string>
                <key>sourceSize</key>
                <string>{285,265}</string>
            </dict>
            <key>action_quest_mission_ruby.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,3979},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>action_quest_result_elite_theif_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,3979},{35,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,53}}</string>
                <key>sourceSize</key>
                <string>{35,53}</string>
            </dict>
            <key>action_quest_result_elite_theif_icon_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,3979},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>action_quest_result_fail_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,4022},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{124,58}</string>
            </dict>
            <key>action_quest_result_goods_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,3126},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>action_quest_result_goods_icon_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,4031},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>action_quest_result_guest_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,1755},{32,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,53}}</string>
                <key>sourceSize</key>
                <string>{32,53}</string>
            </dict>
            <key>action_quest_result_guest_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,3871},{54,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,86}}</string>
                <key>sourceSize</key>
                <string>{54,86}</string>
            </dict>
            <key>action_quest_result_reward_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,741},{1279,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1279,244}}</string>
                <key>sourceSize</key>
                <string>{1279,244}</string>
            </dict>
            <key>action_quest_result_reward_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1189},{198,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,60}}</string>
                <key>sourceSize</key>
                <string>{202,60}</string>
            </dict>
            <key>action_quest_result_star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1798},{128,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,122}}</string>
                <key>sourceSize</key>
                <string>{128,122}</string>
            </dict>
            <key>action_quest_result_success_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,271},{266,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,59}}</string>
                <key>sourceSize</key>
                <string>{266,59}</string>
            </dict>
            <key>action_quest_result_target_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,3078},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>action_quest_result_theif_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,3979},{35,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,53}}</string>
                <key>sourceSize</key>
                <string>{35,53}</string>
            </dict>
            <key>action_quest_result_theif_icon_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,1810},{29,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,43}}</string>
                <key>sourceSize</key>
                <string>{29,43}</string>
            </dict>
            <key>action_quest_result_timer_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,3027},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>action_quest_result_ufo_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,3979},{52,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,38}}</string>
                <key>sourceSize</key>
                <string>{52,38}</string>
            </dict>
            <key>action_quest_result_zombie_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,3979},{37,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,52}}</string>
                <key>sourceSize</key>
                <string>{37,52}</string>
            </dict>
            <key>action_quest_target_big_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,3720},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_quest_target_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,3951},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>action_quest_target_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,3871},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>action_quest_theif_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,4022},{58,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,86}}</string>
                <key>sourceSize</key>
                <string>{58,86}</string>
            </dict>
            <key>action_quest_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,4022},{361,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{361,54}}</string>
                <key>sourceSize</key>
                <string>{365,60}</string>
            </dict>
            <key>action_quest_zombie_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2036,316},{42,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,10}}</string>
                <key>sourceSize</key>
                <string>{42,10}</string>
            </dict>
            <key>action_quest_zombie_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2036,272},{42,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,10}}</string>
                <key>sourceSize</key>
                <string>{42,10}</string>
            </dict>
            <key>action_quest_zombie_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,4022},{56,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,84}}</string>
                <key>sourceSize</key>
                <string>{58,86}</string>
            </dict>
            <key>combo_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,1900},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,35}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>combo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,1251},{20,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,35}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>combo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,1766},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>combo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,1730},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>combo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,1937},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>combo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,1694},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>combo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,711},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>combo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,1412},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,34}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>combo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,2009},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>combo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,1973},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,34}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>combo_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1745},{154,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,51}}</string>
                <key>sourceSize</key>
                <string>{154,51}</string>
            </dict>
            <key>level_reward_stamp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,4050},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>main_action_quest_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,1251},{502,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,32}}</string>
                <key>sourceSize</key>
                <string>{502,32}</string>
            </dict>
            <key>main_action_quest_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,747},{502,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,32}}</string>
                <key>sourceSize</key>
                <string>{502,32}</string>
            </dict>
            <key>main_action_quest_btn_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,4022},{128,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,56}}</string>
                <key>sourceSize</key>
                <string>{128,56}</string>
            </dict>
            <key>main_action_quest_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,1980},{128,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,56}}</string>
                <key>sourceSize</key>
                <string>{128,56}</string>
            </dict>
            <key>main_action_quest_btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1922},{128,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,56}}</string>
                <key>sourceSize</key>
                <string>{128,56}</string>
            </dict>
            <key>main_action_quest_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,3962},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>popup_action_quest_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,2045},{766,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{766,472}}</string>
                <key>sourceSize</key>
                <string>{766,472}</string>
            </dict>
            <key>popup_action_quest_comming_soon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1478},{184,81}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{184,81}}</string>
                <key>sourceSize</key>
                <string>{192,137}</string>
            </dict>
            <key>popup_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,3027},{842,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{842,556}}</string>
                <key>sourceSize</key>
                <string>{842,556}</string>
            </dict>
            <key>reward_double_ad_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,3979},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>reward_double_box_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,4031},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>reward_double_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1412},{186,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,64}}</string>
                <key>sourceSize</key>
                <string>{186,64}</string>
            </dict>
            <key>space_bg_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1764,1031}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1764,1031}}</string>
                <key>sourceSize</key>
                <string>{1764,1031}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_action_quest.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2e4876cd97c07de51115854a40da428$</string>
            <key>textureFileName</key>
            <string>new_action_quest.png</string>
        </dict>
    </dict>
</plist>
