<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_back arrow_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,306},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>main_home_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,638},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>main_icon_bg_red3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1920},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,106}</string>
            </dict>
            <key>main_notice_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,640},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>main_notice_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,638},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>main_notice_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2030,56},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>main_ranking_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,638},{54,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{54,62}</string>
            </dict>
            <key>main_shop_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,242},{52,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>main_world_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,638},{66,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{66,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>wold_max_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,555},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>wold_trophy_day.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,434},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>wold_trophy_month.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,514},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>wold_trophy_weekly.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,474},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>world_3x_sticker.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,638},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>world_map_coming_soon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,506},{95,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,47}}</string>
                <key>sourceSize</key>
                <string>{95,47}</string>
            </dict>
            <key>world_message_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,555},{146,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,67}}</string>
                <key>sourceSize</key>
                <string>{146,67}</string>
            </dict>
            <key>world_message_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,352},{29,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,18}}</string>
                <key>sourceSize</key>
                <string>{29,18}</string>
            </dict>
            <key>world_my_rank_black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1956},{140,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,65}}</string>
                <key>sourceSize</key>
                <string>{140,65}</string>
            </dict>
            <key>world_name_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{188,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,59}}</string>
                <key>sourceSize</key>
                <string>{188,59}</string>
            </dict>
            <key>world_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,56},{352,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,60}}</string>
                <key>sourceSize</key>
                <string>{352,60}</string>
            </dict>
            <key>world_select_beijjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1296},{204,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,386}}</string>
                <key>sourceSize</key>
                <string>{206,386}</string>
            </dict>
            <key>world_select_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{204,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,386}}</string>
                <key>sourceSize</key>
                <string>{204,386}</string>
            </dict>
            <key>world_select_cha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,846},{212,144}}</string>
                <key>offset</key>
                <string>{-6,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,130},{212,144}}</string>
                <key>sourceSize</key>
                <string>{258,274}</string>
            </dict>
            <key>world_select_cha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1068},{214,190}}</string>
                <key>offset</key>
                <string>{-6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,84},{214,190}}</string>
                <key>sourceSize</key>
                <string>{258,274}</string>
            </dict>
            <key>world_select_cha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1684},{214,234}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,40},{214,234}}</string>
                <key>sourceSize</key>
                <string>{258,274}</string>
            </dict>
            <key>world_select_cha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,378},{258,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,274}}</string>
                <key>sourceSize</key>
                <string>{258,274}</string>
            </dict>
            <key>world_select_cha_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,118},{258,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,274}}</string>
                <key>sourceSize</key>
                <string>{258,274}</string>
            </dict>
            <key>world_select_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,474},{230,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,444}}</string>
                <key>sourceSize</key>
                <string>{230,444}</string>
            </dict>
            <key>world_select_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,242},{230,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,444}}</string>
                <key>sourceSize</key>
                <string>{230,444}</string>
            </dict>
            <key>world_select_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{238,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,498}}</string>
                <key>sourceSize</key>
                <string>{238,498}</string>
            </dict>
            <key>world_select_frame_Info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,612},{203,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,37}}</string>
                <key>sourceSize</key>
                <string>{203,37}</string>
            </dict>
            <key>world_select_ita_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1920},{158,112}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,118},{158,112}}</string>
                <key>sourceSize</key>
                <string>{166,230}</string>
            </dict>
            <key>world_select_ita_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,912},{164,154}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,76},{164,154}}</string>
                <key>sourceSize</key>
                <string>{166,230}</string>
            </dict>
            <key>world_select_ita_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,1050},{166,198}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{166,198}}</string>
                <key>sourceSize</key>
                <string>{166,230}</string>
            </dict>
            <key>world_select_ita_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,912},{166,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,230}}</string>
                <key>sourceSize</key>
                <string>{166,230}</string>
            </dict>
            <key>world_select_ita_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,842},{166,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,230}}</string>
                <key>sourceSize</key>
                <string>{166,230}</string>
            </dict>
            <key>world_select_ita_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,402},{30,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,49}}</string>
                <key>sourceSize</key>
                <string>{30,49}</string>
            </dict>
            <key>world_select_jpn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,817},{200,100}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,102},{200,100}}</string>
                <key>sourceSize</key>
                <string>{204,202}</string>
            </dict>
            <key>world_select_jpn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,908},{204,140}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{204,140}}</string>
                <key>sourceSize</key>
                <string>{204,202}</string>
            </dict>
            <key>world_select_jpn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,908},{204,180}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{204,180}}</string>
                <key>sourceSize</key>
                <string>{204,202}</string>
            </dict>
            <key>world_select_jpn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1010},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>world_select_jpn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,846},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>world_select_jpn_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,190},{138,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>sourceSize</key>
                <string>{138,78}</string>
            </dict>
            <key>world_select_kor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1684},{246,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,270}}</string>
                <key>sourceSize</key>
                <string>{246,270}</string>
            </dict>
            <key>world_select_lock_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,356},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>world_select_newyork.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,706},{204,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,386}}</string>
                <key>sourceSize</key>
                <string>{206,386}</string>
            </dict>
            <key>world_select_rocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,703},{203,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,382}}</string>
                <key>sourceSize</key>
                <string>{203,382}</string>
            </dict>
            <key>world_select_seoul.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,640},{204,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,386}}</string>
                <key>sourceSize</key>
                <string>{206,386}</string>
            </dict>
            <key>world_select_time_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,330},{174,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,70}}</string>
                <key>sourceSize</key>
                <string>{174,70}</string>
            </dict>
            <key>world_select_time_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,330},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>world_select_tokyo.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,908},{204,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,386}}</string>
                <key>sourceSize</key>
                <string>{206,386}</string>
            </dict>
            <key>world_select_usa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1060},{192,144}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,112},{192,144}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>world_select_usa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1078},{196,184}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,72},{196,184}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>world_select_usa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,640},{200,230}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{200,230}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>world_select_usa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,706},{200,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,256}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>world_select_usa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{200,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,256}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>world_select_usa_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,118},{70,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,84}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>world_select_venice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1296},{204,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,386}}</string>
                <key>sourceSize</key>
                <string>{206,386}</string>
            </dict>
            <key>world_store_Island.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1172,636}}</string>
                <key>offset</key>
                <string>{14,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,182},{1172,636}}</string>
                <key>sourceSize</key>
                <string>{1500,846}</string>
            </dict>
            <key>world_store_globe_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,554},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>world_store_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,2},{358,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,52}}</string>
                <key>sourceSize</key>
                <string>{358,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_world_map.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:746b0df1d18d14e55493344c747eba31$</string>
            <key>textureFileName</key>
            <string>new_world_map.png</string>
        </dict>
    </dict>
</plist>
