<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auto_start_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{344,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,57}}</string>
                <key>sourceSize</key>
                <string>{344,59}</string>
            </dict>
            <key>buff_effect_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,323},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>buff_effect_pop.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,290},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>buff_start_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{320,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,56}}</string>
                <key>sourceSize</key>
                <string>{320,56}</string>
            </dict>
            <key>card_gold_plus_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,289},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>card_sale_plus_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,290},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{52,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>card_sale_plus_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,255},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>main_buff_card_outside_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,342},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>main_buff_card_sale_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,410},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>main_buff_card_sunny.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,410},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>popup_buff_auto_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,146},{104,142}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{104,142}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>popup_buff_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{480,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,368}}</string>
                <key>sourceSize</key>
                <string>{480,368}</string>
            </dict>
            <key>popup_buff_hottime_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{116,142}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{116,142}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>popup_buff_outside_shop_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,348},{137,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{137,170}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>popup_buff_speaker_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,631},{138,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,142}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>popup_buff_sunny_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{215,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,210}}</string>
                <key>sourceSize</key>
                <string>{215,210}</string>
            </dict>
            <key>popup_store_expansion_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,775},{138,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{138,136}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>popup_store_open_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,487},{138,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,142}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>popup_time_reduction_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,219},{189,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,170}}</string>
                <key>sourceSize</key>
                <string>{189,170}</string>
            </dict>
            <key>purchase_up_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,219},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>time_reduction_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,56}}</string>
                <key>sourceSize</key>
                <string>{490,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_buff_event.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b5b02d9c14454249b1f1057333da04b$</string>
            <key>textureFileName</key>
            <string>new_buff_event.png</string>
        </dict>
    </dict>
</plist>
