<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_round_display.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,3680},{42,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,290}}</string>
                <key>sourceSize</key>
                <string>{42,290}</string>
            </dict>
            <key>bg_round_employee.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,3680},{42,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,300}}</string>
                <key>sourceSize</key>
                <string>{42,300}</string>
            </dict>
            <key>bg_round_goods.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,3680},{42,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,300}}</string>
                <key>sourceSize</key>
                <string>{42,300}</string>
            </dict>
            <key>bg_round_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,3680},{41,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,298}}</string>
                <key>sourceSize</key>
                <string>{41,298}</string>
            </dict>
            <key>card_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,3604},{186,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,42}}</string>
                <key>sourceSize</key>
                <string>{186,42}</string>
            </dict>
            <key>card_cactus_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,3998},{51,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,78}}</string>
                <key>sourceSize</key>
                <string>{51,78}</string>
            </dict>
            <key>card_charge_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,3494},{111,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,30}}</string>
                <key>sourceSize</key>
                <string>{111,30}</string>
            </dict>
            <key>card_close_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,3998},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>card_cookie_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,3494},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>card_display.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,3680},{254,346}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,346}}</string>
                <key>sourceSize</key>
                <string>{256,348}</string>
            </dict>
            <key>card_display_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2984},{254,346}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,346}}</string>
                <key>sourceSize</key>
                <string>{256,348}</string>
            </dict>
            <key>card_display_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3082},{1762,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1762,410}}</string>
                <key>sourceSize</key>
                <string>{1762,410}</string>
            </dict>
            <key>card_display_box_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2670},{1762,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1762,410}}</string>
                <key>sourceSize</key>
                <string>{1762,410}</string>
            </dict>
            <key>card_display_box_tag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,3494},{111,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,132}}</string>
                <key>sourceSize</key>
                <string>{111,132}</string>
            </dict>
            <key>card_display_box_tag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,3494},{111,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,132}}</string>
                <key>sourceSize</key>
                <string>{111,132}</string>
            </dict>
            <key>card_display_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,3494},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>card_display_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,3680},{254,346}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,346}}</string>
                <key>sourceSize</key>
                <string>{256,348}</string>
            </dict>
            <key>card_display_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,4028},{63,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,73}}</string>
                <key>sourceSize</key>
                <string>{63,73}</string>
            </dict>
            <key>card_display_product_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,3494},{176,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,81}}</string>
                <key>sourceSize</key>
                <string>{176,81}</string>
            </dict>
            <key>card_display_rocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,3332},{254,346}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,346}}</string>
                <key>sourceSize</key>
                <string>{256,348}</string>
            </dict>
            <key>card_display_rocked_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,3494},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>card_display_rocked_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,3494},{126,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,30}}</string>
                <key>sourceSize</key>
                <string>{126,30}</string>
            </dict>
            <key>card_display_rocked_center_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3494},{184,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,92}}</string>
                <key>sourceSize</key>
                <string>{184,92}</string>
            </dict>
            <key>card_display_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2786},{196,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{196,256}}</string>
                <key>sourceSize</key>
                <string>{198,258}</string>
            </dict>
            <key>card_display_theme_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,4028},{55,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,61}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>card_display_theme_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,4028},{55,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,61}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>card_drink_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,3494},{42,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,68}}</string>
                <key>sourceSize</key>
                <string>{42,68}</string>
            </dict>
            <key>card_employee.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,1640},{256,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{256,384}}</string>
                <key>sourceSize</key>
                <string>{256,386}</string>
            </dict>
            <key>card_employee_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,3564},{190,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,48}}</string>
                <key>sourceSize</key>
                <string>{190,48}</string>
            </dict>
            <key>card_employee_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{1762,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1762,446}}</string>
                <key>sourceSize</key>
                <string>{1762,446}</string>
            </dict>
            <key>card_employee_box_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,3648},{46,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,76}}</string>
                <key>sourceSize</key>
                <string>{46,76}</string>
            </dict>
            <key>card_employee_box_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1762,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1762,446}}</string>
                <key>sourceSize</key>
                <string>{1762,446}</string>
            </dict>
            <key>card_employee_box_tag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,3494},{111,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,132}}</string>
                <key>sourceSize</key>
                <string>{111,132}</string>
            </dict>
            <key>card_employee_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,1254},{256,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{256,384}}</string>
                <key>sourceSize</key>
                <string>{256,386}</string>
            </dict>
            <key>card_employee_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3680},{282,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,394}}</string>
                <key>sourceSize</key>
                <string>{282,394}</string>
            </dict>
            <key>card_goods.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2406},{256,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{256,378}}</string>
                <key>sourceSize</key>
                <string>{256,380}</string>
            </dict>
            <key>card_goods_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,3554},{190,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,48}}</string>
                <key>sourceSize</key>
                <string>{190,48}</string>
            </dict>
            <key>card_goods_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2232},{1762,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1762,436}}</string>
                <key>sourceSize</key>
                <string>{1762,436}</string>
            </dict>
            <key>card_goods_box_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1794},{1762,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1762,436}}</string>
                <key>sourceSize</key>
                <string>{1762,436}</string>
            </dict>
            <key>card_goods_box_tag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,3494},{111,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,132}}</string>
                <key>sourceSize</key>
                <string>{111,132}</string>
            </dict>
            <key>card_goods_box_tag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,3494},{111,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,132}}</string>
                <key>sourceSize</key>
                <string>{111,132}</string>
            </dict>
            <key>card_goods_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2026},{256,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{256,378}}</string>
                <key>sourceSize</key>
                <string>{256,380}</string>
            </dict>
            <key>card_goods_get_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,3628},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>card_goods_product_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,3494},{176,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,81}}</string>
                <key>sourceSize</key>
                <string>{176,81}</string>
            </dict>
            <key>card_goods_theme_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,4028},{55,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,61}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>card_goods_theme_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,4028},{55,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,61}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>card_grocery_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,4028},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>card_icecream_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,3494},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>card_level_up_goods_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,3680},{316,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{316,438}}</string>
                <key>sourceSize</key>
                <string>{316,444}</string>
            </dict>
            <key>card_levelup_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,3628},{190,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,48}}</string>
                <key>sourceSize</key>
                <string>{190,48}</string>
            </dict>
            <key>card_menubox.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,3998},{115,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{115,78}}</string>
                <key>sourceSize</key>
                <string>{117,78}</string>
            </dict>
            <key>card_milk_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,4028},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{54,64}</string>
            </dict>
            <key>card_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,3998},{154,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,76}}</string>
                <key>sourceSize</key>
                <string>{154,76}</string>
            </dict>
            <key>card_open_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,3628},{190,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,48}}</string>
                <key>sourceSize</key>
                <string>{190,48}</string>
            </dict>
            <key>card_position_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,3628},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,50}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>card_product_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2},{274,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,124}}</string>
                <key>sourceSize</key>
                <string>{274,124}</string>
            </dict>
            <key>card_product_edit_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,3998},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>card_ramen_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,4028},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>card_rug_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,3998},{83,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,68}}</string>
                <key>sourceSize</key>
                <string>{83,68}</string>
            </dict>
            <key>card_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,3998},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>card_store_edit_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,3494},{176,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,94}}</string>
                <key>sourceSize</key>
                <string>{176,94}</string>
            </dict>
            <key>card_tile_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,3554},{71,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,53}}</string>
                <key>sourceSize</key>
                <string>{71,53}</string>
            </dict>
            <key>card_timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,3628},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>card_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,868},{256,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{256,384}}</string>
                <key>sourceSize</key>
                <string>{256,386}</string>
            </dict>
            <key>card_vip_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,3628},{190,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,48}}</string>
                <key>sourceSize</key>
                <string>{190,48}</string>
            </dict>
            <key>card_vip_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{1762,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1762,446}}</string>
                <key>sourceSize</key>
                <string>{1762,446}</string>
            </dict>
            <key>card_vip_box_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,3627},{48,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,76}}</string>
                <key>sourceSize</key>
                <string>{48,76}</string>
            </dict>
            <key>card_vip_box_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{1762,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1762,446}}</string>
                <key>sourceSize</key>
                <string>{1762,446}</string>
            </dict>
            <key>card_vip_box_tag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,3972},{111,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,132}}</string>
                <key>sourceSize</key>
                <string>{111,132}</string>
            </dict>
            <key>card_vip_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,482},{256,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{256,384}}</string>
                <key>sourceSize</key>
                <string>{256,386}</string>
            </dict>
            <key>card_wall_decoration_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,4028},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>card_wall_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,3554},{53,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,75}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>display_lock_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,3494},{173,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{173,235}}</string>
                <key>sourceSize</key>
                <string>{177,237}</string>
            </dict>
            <key>goods_lock_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,305},{175,260}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{175,260}}</string>
                <key>sourceSize</key>
                <string>{177,262}</string>
            </dict>
            <key>popup_speech_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,3494},{162,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{162,120}}</string>
                <key>sourceSize</key>
                <string>{162,122}</string>
            </dict>
            <key>vip_lock_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,128},{175,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{175,263}}</string>
                <key>sourceSize</key>
                <string>{177,265}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_card_deck.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3cc586e1e91a59f95c7d852d602f0e9$</string>
            <key>textureFileName</key>
            <string>new_card_deck.png</string>
        </dict>
    </dict>
</plist>
