<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_round_level_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,1084},{34,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,484}}</string>
                <key>sourceSize</key>
                <string>{34,484}</string>
            </dict>
            <key>level_reward_airplane.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1477},{80,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>level_reward_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1205},{150,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,22}}</string>
                <key>sourceSize</key>
                <string>{150,22}</string>
            </dict>
            <key>level_reward_bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2007},{150,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,22}}</string>
                <key>sourceSize</key>
                <string>{150,22}</string>
            </dict>
            <key>level_reward_bar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2031},{14,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,66}}</string>
                <key>sourceSize</key>
                <string>{14,66}</string>
            </dict>
            <key>level_reward_bar_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,494},{14,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,66}}</string>
                <key>sourceSize</key>
                <string>{14,66}</string>
            </dict>
            <key>level_reward_bar_level_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,732},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>level_reward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{997,555}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{997,555}}</string>
                <key>sourceSize</key>
                <string>{997,555}</string>
            </dict>
            <key>level_reward_bg_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1570},{257,405}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{257,405}}</string>
                <key>sourceSize</key>
                <string>{259,485}</string>
            </dict>
            <key>level_reward_bg_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,2},{14,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,490}}</string>
                <key>sourceSize</key>
                <string>{14,490}</string>
            </dict>
            <key>level_reward_bg_newyork.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1570},{215,435}}</string>
                <key>offset</key>
                <string>{-22,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{215,435}}</string>
                <key>sourceSize</key>
                <string>{259,485}</string>
            </dict>
            <key>level_reward_bg_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1053},{150,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,484}}</string>
                <key>sourceSize</key>
                <string>{150,484}</string>
            </dict>
            <key>level_reward_bg_seoul.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,559},{259,485}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,485}}</string>
                <key>sourceSize</key>
                <string>{259,485}</string>
            </dict>
            <key>level_reward_bg_tokyo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{231,485}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,485}}</string>
                <key>sourceSize</key>
                <string>{259,485}</string>
            </dict>
            <key>level_reward_bg_venice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{259,485}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,485}}</string>
                <key>sourceSize</key>
                <string>{259,485}</string>
            </dict>
            <key>level_reward_bg_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1014},{150,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,484}}</string>
                <key>sourceSize</key>
                <string>{150,484}</string>
            </dict>
            <key>level_reward_btn_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,980},{102,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,42}}</string>
                <key>sourceSize</key>
                <string>{102,42}</string>
            </dict>
            <key>level_reward_btn_gray2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1381},{174,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,52}}</string>
                <key>sourceSize</key>
                <string>{174,52}</string>
            </dict>
            <key>level_reward_btn_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,876},{102,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,42}}</string>
                <key>sourceSize</key>
                <string>{102,42}</string>
            </dict>
            <key>level_reward_btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1205},{174,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,52}}</string>
                <key>sourceSize</key>
                <string>{174,52}</string>
            </dict>
            <key>level_reward_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,772},{102,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,42}}</string>
                <key>sourceSize</key>
                <string>{102,42}</string>
            </dict>
            <key>level_reward_btn_yellow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,562},{114,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,46}}</string>
                <key>sourceSize</key>
                <string>{114,46}</string>
            </dict>
            <key>level_reward_card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1333},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>level_reward_card_bg_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1205},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>level_reward_card_bg_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1341},{122,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,134}}</string>
                <key>sourceSize</key>
                <string>{122,134}</string>
            </dict>
            <key>level_reward_card_bg_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1205},{122,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,134}}</string>
                <key>sourceSize</key>
                <string>{122,134}</string>
            </dict>
            <key>level_reward_card_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,678},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>level_reward_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1977},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,58}}</string>
                <key>sourceSize</key>
                <string>{78,58}</string>
            </dict>
            <key>level_reward_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1977},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>level_reward_gold_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1371},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,158}}</string>
                <key>sourceSize</key>
                <string>{154,158}</string>
            </dict>
            <key>level_reward_ruby.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1977},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>level_reward_silver_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1205},{164,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,116}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>level_reward_stamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1461},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,92}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>level_reward_top_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,820},{192,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,484}}</string>
                <key>sourceSize</key>
                <string>{192,484}</string>
            </dict>
            <key>level_reward_white_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2007},{152,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,30}}</string>
                <key>sourceSize</key>
                <string>{152,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_level_reward.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32a2bf5d60fddb07f8cecd5f469f5fdc$</string>
            <key>textureFileName</key>
            <string>new_level_reward.png</string>
        </dict>
    </dict>
</plist>
