<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{921,537}</string>
                <key>spriteSourceSize</key>
                <string>{921,537}</string>
                <key>textureRect</key>
                <string>{{1,1},{921,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,389}</string>
                <key>spriteSourceSize</key>
                <string>{269,389}</string>
                <key>textureRect</key>
                <string>{{1,1079},{269,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{921,537}</string>
                <key>spriteSourceSize</key>
                <string>{921,537}</string>
                <key>textureRect</key>
                <string>{{1,1},{921,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,389}</string>
                <key>spriteSourceSize</key>
                <string>{269,389}</string>
                <key>textureRect</key>
                <string>{{1,1079},{269,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{921,537}</string>
                <key>spriteSourceSize</key>
                <string>{921,537}</string>
                <key>textureRect</key>
                <string>{{1,540},{921,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,75}</string>
                <key>spriteSourceSize</key>
                <string>{233,75}</string>
                <key>textureRect</key>
                <string>{{392,1079},{233,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,75}</string>
                <key>spriteSourceSize</key>
                <string>{233,75}</string>
                <key>textureRect</key>
                <string>{{392,1314},{233,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,75}</string>
                <key>spriteSourceSize</key>
                <string>{233,75}</string>
                <key>textureRect</key>
                <string>{{469,1079},{233,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,75}</string>
                <key>spriteSourceSize</key>
                <string>{233,75}</string>
                <key>textureRect</key>
                <string>{{392,1079},{233,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,75}</string>
                <key>spriteSourceSize</key>
                <string>{233,75}</string>
                <key>textureRect</key>
                <string>{{392,1314},{233,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,75}</string>
                <key>spriteSourceSize</key>
                <string>{233,75}</string>
                <key>textureRect</key>
                <string>{{469,1079},{233,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,155}</string>
                <key>spriteSourceSize</key>
                <string>{195,155}</string>
                <key>textureRect</key>
                <string>{{722,1245},{195,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,164}</string>
                <key>spriteSourceSize</key>
                <string>{197,164}</string>
                <key>textureRect</key>
                <string>{{722,1079},{197,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,174}</string>
                <key>spriteSourceSize</key>
                <string>{210,174}</string>
                <key>textureRect</key>
                <string>{{546,1079},{210,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,67}</string>
                <key>spriteSourceSize</key>
                <string>{60,67}</string>
                <key>textureRect</key>
                <string>{{627,1291},{60,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{923,1401}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57a1672acdaed33f3218c8dd03814b58:b34aa24cf64b972e494c85f732547e99:0c3382addd4ddbdf7ff3d469abaa2ba6$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
