<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijingmap_seoul.png</key>
            <dict>
                <key>frame</key>
                <string>{{1983,390},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{640,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,360}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>icon_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,798},{207,208}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{207,208}}</string>
                <key>sourceSize</key>
                <string>{253,258}</string>
            </dict>
            <key>map_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,256},{252,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,255}}</string>
                <key>sourceSize</key>
                <string>{252,255}</string>
            </dict>
            <key>map_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,470},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,90}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>map_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,364},{104,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,121}}</string>
                <key>sourceSize</key>
                <string>{104,121}</string>
            </dict>
            <key>map_newyork.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,364},{253,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,249}}</string>
                <key>sourceSize</key>
                <string>{253,249}</string>
            </dict>
            <key>map_paris.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,618},{252,178}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{252,178}}</string>
                <key>sourceSize</key>
                <string>{252,258}</string>
            </dict>
            <key>map_seoul.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,2},{252,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,258}}</string>
                <key>sourceSize</key>
                <string>{252,258}</string>
            </dict>
            <key>map_tokyo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,364},{252,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,254}}</string>
                <key>sourceSize</key>
                <string>{252,254}</string>
            </dict>
            <key>map_venice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,615},{252,246}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{252,246}}</string>
                <key>sourceSize</key>
                <string>{252,258}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,2},{386,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,51}}</string>
                <key>sourceSize</key>
                <string>{386,51}</string>
            </dict>
            <key>world_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2250,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2250,1080}}</string>
                <key>sourceSize</key>
                <string>{2250,1080}</string>
            </dict>
            <key>worldmap_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,2},{386,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,51}}</string>
                <key>sourceSize</key>
                <string>{386,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldmap.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7ea08cd8268b080e605bee30e1e849d$</string>
            <key>textureFileName</key>
            <string>worldmap.png</string>
        </dict>
    </dict>
</plist>
