<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_0005_6_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,94},{48,32}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,63},{48,32}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0005_6_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,76},{48,32}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,63},{48,32}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0006_5_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{28,44}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,48},{28,44}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0006_5_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,46},{44,52}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,48},{44,52}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0006_5_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,174},{30,44}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,46},{30,44}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0006_5_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,46},{46,52}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,46},{46,52}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0006_6_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,150},{36,44}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,48},{36,44}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0006_6_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{48,52}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,48},{48,52}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0006_6_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,164},{30,44}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,46},{30,44}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0006_6_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,40},{46,52}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,46},{46,52}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0007_6_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,150},{44,36}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,58},{44,36}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0007_6_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,124},{44,36}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,58},{44,36}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0057_6_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,188},{44,36}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,57},{44,36}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0057_6_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,152},{44,36}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,57},{44,36}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0060_6_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,266},{38,32}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{38,32}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0060_6_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,170},{38,42}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,52},{38,42}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0060_6_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,242},{38,32}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{38,32}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0060_6_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,238},{38,42}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,52},{38,42}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0063_6_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,92},{44,48}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,49},{44,48}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0063_6_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,88},{44,48}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,49},{44,48}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0373_1_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,74},{50,30}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,66},{50,30}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0373_1_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,42},{50,30}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,66},{50,30}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0373_2_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{50,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,58},{50,38}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0373_2_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{50,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,58},{50,38}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0373_3_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,54},{54,44}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0373_3_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,54},{54,44}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0375_1_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,208},{42,32}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,62},{42,32}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0375_1_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,190},{42,40}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,54},{42,40}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0375_1_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,196},{42,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,62},{42,32}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0375_1_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,162},{42,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,54},{42,40}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0375_2_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,176},{42,30}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,65},{42,30}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0375_2_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,128},{46,34}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,62},{46,34}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0375_3_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{50,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,58},{50,38}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0375_3_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,90},{50,38}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,59},{50,38}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0387_1_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,285},{24,28}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,64},{24,28}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0387_1_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,204},{40,36}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{40,36}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0387_1_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,226},{40,42}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,58},{40,42}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0387_1_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{54,42}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,58},{54,42}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0387_1_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{24,28}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,57},{24,28}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0387_1_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,196},{40,36}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,57},{40,36}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0387_1_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{54,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,57},{54,36}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0387_1_f_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{54,42}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,58},{54,42}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0387_2_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{28,34}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,58},{28,34}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0387_2_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,106},{44,42}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,58},{44,42}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0387_2_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,309},{28,34}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,58},{28,34}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0387_2_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{44,42}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,58},{44,42}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0387_3_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,130},{44,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,57},{44,42}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0387_3_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,110},{44,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,58},{44,40}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0389_1_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,270},{24,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,65},{24,24}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0389_2_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,230},{28,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,63},{28,26}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0389_3_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,258},{30,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,61},{30,30}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0391_1_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,210},{36,26}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,70},{36,26}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0391_1_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,42},{50,32}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,64},{50,32}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0391_1_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,52},{50,32}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,64},{50,32}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0391_1_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{50,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,56},{50,40}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0391_1_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,268},{36,26}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,62},{36,26}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0391_1_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,42},{50,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,63},{50,32}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0391_1_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,48},{50,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,55},{50,40}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0391_1_f_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{50,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,55},{50,40}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0391_2_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,174},{42,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,63},{42,32}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0391_2_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,134},{42,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,55},{42,40}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0391_2_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,106},{42,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,63},{42,32}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0391_2_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,196},{42,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,55},{42,40}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0391_3_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,138},{34,44}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,51},{34,44}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0391_3_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,86},{46,48}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,47},{46,48}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0391_3_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,134},{34,44}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,46},{34,44}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>item_0391_3_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,76},{46,48}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,47},{46,48}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>shop_item_0005_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,208},{41,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,27}}</string>
                <key>sourceSize</key>
                <string>{41,27}</string>
            </dict>
            <key>shop_item_0006_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,238},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>shop_item_0007_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,296},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>shop_item_0057_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,232},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{38,32}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>shop_item_0060_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,278},{35,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,29}}</string>
                <key>sourceSize</key>
                <string>{35,29}</string>
            </dict>
            <key>shop_item_0063_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,234},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>shop_item_0373_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,163},{31,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,19}}</string>
                <key>sourceSize</key>
                <string>{31,19}</string>
            </dict>
            <key>shop_item_0373_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,233},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>shop_item_0373_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,230},{33,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>shop_item_0375_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>shop_item_0375_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,278},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>shop_item_0375_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,206},{34,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>shop_item_0387_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,266},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>shop_item_0387_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,260},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>shop_item_0387_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,237},{35,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,31}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>shop_item_0389_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,260},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>shop_item_0389_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,242},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>shop_item_0389_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,315},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>shop_item_0391_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,134},{27,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,20}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>shop_item_0391_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,210},{29,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>shop_item_0391_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item_11.png</string>
            <key>size</key>
            <string>{512,344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2e8957445175fb0b5c736258bd3f26f$</string>
            <key>textureFileName</key>
            <string>item_11.png</string>
        </dict>
    </dict>
</plist>
