<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_item_icon_cook.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{38,36}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>common_item_icon_drink.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,38},{30,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>common_item_icon_fresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{34,38}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>common_item_icon_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,70},{32,38}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>common_item_icon_ramen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,36}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>common_item_icon_snack.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{34,40}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>common_item_icon_tissue.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,40},{34,38}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>license_popup.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56bb340cde39753788436bbfdb26e8b7$</string>
            <key>textureFileName</key>
            <string>license_popup.png</string>
        </dict>
    </dict>
</plist>
